<template>
    <inertia-link :href="href" :class="classes">
        <slot></slot>
    </inertia-link>
</template>

<script>
    export default {
        props: ['href', 'active', 'basicClass','activeClass'],

        computed: {
            classes() {
                return this.active
                            ? this.activeClass
                            : this.basicClass
            }
        }
    }
</script>