<template>
  <admin-layout>
    <div class="mx-auto container px-4 xl:px-0 py-10 xl:py-40">
      <div class="px-4 md:px-10 mx-auto w-full">
        <div>          
          歡迎登入~  <br>
          如有任何疑問，請與所屬專案業務聯絡，謝謝！  <br>
          Tel：(02)8712-2020
        </div>
      </div>
    </div>
  </admin-layout>
</template>

<script>
import AdminLayout from "@/Layouts/AdminLayout";
import CardStats from "@/components/Cards/CardStats.vue";
export default {
  components: {
    AdminLayout,
    CardStats,
  },
  created: function () {
  },
  methods: {
  },
};
</script>
