<template>
  <admin-layout>
    <div class="container pb-5 pt-5">
      Hello Word 
    </div>
  </admin-layout>
</template>
<script>
import AdminLayout from "@/Layouts/AdminLayout";
import { Inertia } from "@inertiajs/inertia";

export default {
  props: [],
  components: {
    AdminLayout,
  },
  data() {
    return {};
  },
  created: function () {},
  computed: {},
  watch: {},
  methods: {},
};
</script>

<style scoped></style>
