<template>
  <admin-layout>

  <file-modal />
    <div
      class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-yellow-500"
    >
      <span class="text-xl inline-block mr-5 align-middle">
        <i class="fas fa-bell"></i>
      </span>
      <span class="inline-block align-middle mr-8">
        <b class="capitalize">
          {{ message }}
        </b>
      </span>
      <button
        class="
          absolute
          bg-transparent
          text-2xl
          font-semibold
          leading-none
          right-0
          top-0
          mt-4
          mr-6
          outline-none
          focus:outline-none
        "
      >
        <span>×</span>
      </button>
    </div>

    <span id="dome">backendMsg:{{ backendMsg }}</span>
    <span
      class="
        text-xs
        font-semibold
        inline-block
        py-1
        px-2
        uppercase
        rounded
        text-indigo-600
        bg-indigo-200
        uppercase
        last:mr-0
        mr-1
      "
    >
      template engine
    </span>
    <div>
      你好：{{ userName }}
      <span
        class="
          text-xs
          font-semibold
          inline-block
          py-1
          px-2
          uppercase
          rounded
          text-teal-600
          bg-teal-200
          uppercase
          last:mr-0
          mr-1
        "
      >
        http api
      </span>
    </div>
    <div>今天日期：{{ today }}</div>
    <br /><br />

    <div>----------------------------</div>
    <!-- 今天日期： {{ $filters?.currencyUSD('test') }}<br /> -->
    count:{{ count }}<br />
    <button
      class="
        bg-blue-500
        text-white
        active:bg-blue-600
        font-bold
        uppercase
        text-sm
        px-6
        py-3
        rounded
        shadow
        hover:shadow-lg
        outline-none
        focus:outline-none
        mr-1
        mb-1
        ease-linear
        transition-all
        duration-150
      "
      type="button"
      v-on:click="addCount()"
    >
      加數字
    </button>

    <br /><br />
    <!-- file select -->
    <image-upload-button/>


  </admin-layout>
</template>
<script>
import AdminLayout from "@/Layouts/AdminLayout";
import ImageUploadButton from "@/components/Buttons/ImageUploadButton";
import FileModal from "@/components/Modals/FileModal";

export default {
  props: ["backendMsg"],
  components: {
    AdminLayout,
    ImageUploadButton,
    FileModal
  },
  data() {
    return {
      message: "此為範本頁面!",
      count: 0,
      today: moment(new Date()).format("YYYY-MM"),
      userName: "",
    };
  },
  created: function () {
    //   一執行此頁就會執行
    // this.$swal("Hello Vue world!!!");
    // this.callUserApi();
  },
  watch: {
    count(val) {
      //   這邊可以監聽變數的變動
      console.log("count變數已改變了", val);
    },
  },
  methods: {
    callUserApi() {
      axios
        .get("/api/user")
        .then((response) => {
          // handle success
          console.log(response);
          this.userName = response.data.name;
        })
        .catch((error) => {
          // handle error
          console.log(error);
        })
        .finally(() => {
          // always executed
        });
    },
    addCount() {
      this.count += 1;
    },
  },
};
</script>

<style scoped>
/* 寫css */
#dome {
  color: red;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 100px;
  max-height: 100px;
}
</style>
