<template>
  <admin-layout>
    <div class="flex flex-col items-center">
      <div class="w-full md:w-1/2 flex flex-col items-center h-64">
        <div class="w-full px-4">
          <div class="flex flex-col items-center relative">
            <div class="w-full">
              <div
                class="my-2 p-1 bg-white flex border border-gray-200 rounded"
              >
                <div class="flex flex-auto flex-wrap"></div>
                <input
                  placeholder="Search by position"
                  class="p-1 px-2 appearance-none outline-none w-full text-gray-800"
                />
                <div
                  class="text-gray-300 w-8 py-1 pl-2 pr-1 border-l flex items-center border-gray-200"
                >
                  <button
                    class="cursor-pointer w-6 h-6 text-gray-600 outline-none focus:outline-none"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="100%"
                      height="100%"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-chevron-up w-4 h-4"
                    >
                      <polyline points="18 15 12 9 6 15"></polyline>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div
              class="absolute shadow bg-white top-100 z-40 w-full lef-0 rounded max-h-select overflow-y-auto svelte-5uyqqj"
            >
              <div class="flex flex-col w-full">
                <div
                  class="cursor-pointer w-full border-gray-100 rounded-t border-b hover:bg-teal-100"
                >
                  <div
                    class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative hover:border-teal-100"
                  >
                    <div class="w-6 flex flex-col items-center">
                      <div
                        class="flex relative w-5 h-5 bg-orange-500 justify-center items-center m-1 mr-2 w-4 h-4 mt-1 rounded-full"
                      >
                        <img
                          class="rounded-full"
                          alt="A"
                          src="https://randomuser.me/api/portraits/men/62.jpg"
                        />
                      </div>
                    </div>
                    <div class="w-full items-center flex">
                      <div class="mx-2 -mt-1">
                        Jack jhon
                        <div
                          class="text-xs truncate w-full normal-case font-normal -mt-1 text-gray-500"
                        >
                          CEO &amp; managin director
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="cursor-pointer w-full border-gray-100 border-b hover:bg-teal-100"
                >
                  <div
                    class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative hover:border-teal-100"
                  >
                    <div class="w-6 flex flex-col items-center">
                      <div
                        class="flex relative w-5 h-5 bg-orange-500 justify-center items-center m-1 mr-2 w-4 h-4 mt-1 rounded-full"
                      >
                        <img
                          class="rounded-full"
                          alt="A"
                          src="https://randomuser.me/api/portraits/women/62.jpg"
                        />
                      </div>
                    </div>
                    <div class="w-full items-center flex">
                      <div class="mx-2 -mt-1">
                        Liza Blue
                        <div
                          class="text-xs truncate w-full normal-case font-normal -mt-1 text-gray-500"
                        >
                          COO &amp; co-founder
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="cursor-pointer w-full border-gray-100 border-b hover:bg-teal-100"
                >
                  <div
                    class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative hover:border-teal-100"
                  >
                    <div class="w-6 flex flex-col items-center">
                      <div
                        class="flex relative w-5 h-5 bg-orange-500 justify-center items-center m-1 mr-2 w-4 h-4 mt-1 rounded-full"
                      >
                        <img
                          class="rounded-full"
                          alt="A"
                          src="https://randomuser.me/api/portraits/men/65.jpg"
                        />
                      </div>
                    </div>
                    <div class="w-full items-center flex">
                      <div class="mx-2 -mt-1 w-1/2">
                        Brian White
                        <div
                          class="text-xs truncate w-full normal-case font-normal -mt-1 text-gray-500"
                        >
                          CTO &amp; technical manager
                        </div>
                      </div>
                      <div class="w-1/2 flex">
                        <div
                          class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-teal-700 bg-teal-100 border border-teal-300"
                        >
                          <div
                            class="text-xs font-normal leading-none max-w-full flex-initial"
                          >
                            Hiring!
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="cursor-pointer w-full border-gray-100 rounded-b hover:bg-teal-100"
                >
                  <div
                    class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative hover:border-teal-100"
                  >
                    <div class="w-6 flex flex-col items-center">
                      <div
                        class="flex relative w-5 h-5 bg-orange-500 justify-center items-center m-1 mr-2 w-4 h-4 mt-1 rounded-full"
                      >
                        <img
                          class="rounded-full"
                          alt="A"
                          src="https://randomuser.me/api/portraits/men/85.jpg"
                        />
                      </div>
                    </div>
                    <div class="w-full items-center flex">
                      <div class="mx-2 -mt-1">
                        Eric Dripper
                        <div
                          class="text-xs truncate w-full normal-case font-normal -mt-1 text-gray-500"
                        >
                          CMO &amp; marketing manager
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </admin-layout>
</template>
<script>
import AdminLayout from "@/Layouts/AdminLayout";
import * as axios from "axios";
import * as _ from "lodash";

export default {
  props: [],
  components: {
    AdminLayout,
  },
  data() {
    return {};
  },
  created: function () {},
  watch: {},
  filters: {},
  methods: {},
};
</script>


<style scoped>
.top-100 {
  top: 100%;
}
.bottom-100 {
  bottom: 100%;
}
.max-h-select {
  max-height: 300px;
}
</style>
