<template>
  <admin-layout>
    <div class="flex flex-wrap">
      <div class="w-full">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
          <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
            <a
              class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
              v-on:click="toggleTabs(1)"
              v-bind:class="{
                'text-green-600 bg-white': openTab !== 1,
                'text-white bg-green-600': openTab === 1,
              }"
            >
              日期選擇器
            </a>
          </li>
          <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
            <a
              class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
              v-on:click="toggleTabs(2)"
              v-bind:class="{
                'text-green-600 bg-white': openTab !== 2,
                'text-white bg-green-600': openTab === 2,
              }"
            >
              目前無功能
            </a>
          </li>
          <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
            <a
              class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
              v-on:click="toggleTabs(3)"
              v-bind:class="{
                'text-green-600 bg-white': openTab !== 3,
                'text-white bg-green-600': openTab === 3,
              }"
            >
              編輯器
            </a>
          </li>
        </ul>
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
        >
          <div class="px-4 py-5 flex-auto">
            <div class="tab-content tab-space">
              <div v-bind:class="{ hidden: openTab !== 1, block: openTab === 1 }">
                <litepie-datepicker v-model="dateValue"></litepie-datepicker>
              </div>
              <div v-bind:class="{ hidden: openTab !== 2, block: openTab === 2 }">
                
              test

                
              </div>
              <div v-bind:class="{ hidden: openTab !== 3, block: openTab === 3 }">
                <tinymce-editor
                  :tinymceApiKey="tinymceApiKey"
                  @changeHtml="editHtml = $event"
                ></tinymce-editor>
                <button
                  v-on:click="showEditHtml()"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-1"
                >
                  顯示資料
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </admin-layout>
</template>
<script>
import AdminLayout from "@/Layouts/AdminLayout";
import TinymceEditor from "@/components/Editor/TinymceEditor";
import { ref } from "vue";
import LitepieDatepicker from "litepie-datepicker";

export default {
  props: ["tinymceApiKey"],
  components: {
    AdminLayout,
    TinymceEditor,
    LitepieDatepicker,
  },
  data() {
    return {
      openTab: 1,
      editHtml: "",
    };
  },
  methods: {
    toggleTabs: function (tabNumber) {
      this.openTab = tabNumber;
    },
    showEditHtml() {
      alert(this.editHtml);
    },
  },
  setup() {
    const dateValue = ref([]);

    return {
      dateValue,
    };
  },
};
</script>
