<template>
    <admin-layout>
        <!-- content -->
        <div class="flex flex-wrap">
            <div class="w-full mt-10">
                <span class="text-sm font-semibold inline-block py-1 px-4 uppercase rounded-full bg-yellow-200 uppercase last:mr-0 mr-1">
                    Member Roles
                </span>
                <div class="relative flex flex-row w-full mt-5">
                    <div class="min-w-0 break-words mb-6">
                        <!--下拉選單-->
                        <button class="text-white font-bold uppercase text-xs px-6 py-3 rounded-lg shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 bg-yellow-200 active:bg-yellow-400 ease-linear transition-all duration-150" type="button" ref="btnDropdownRef" v-on:click="toggleDropdown()">
                            roles
                        </button>
                        <div ref="popoverDropdownRef" class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-50" v-bind:class="{hidden: !dropdownPopoverShow,block: dropdownPopoverShow,}">
                            <a v-for="role in roles" v-on:click="clickRole(role)" href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent">
                                {{ role.name }}
                            </a>
                        </div>
                        <!--表格-->
                        <table class="items-center w-full bg-transparent border-collapse">
                            <thead>
                            <tr>
                                <th
                                class="px-6 align-middle border border-solid py-3 text-base border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                                :class="[
                                    color === 'light'
                                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                                    : 'bg-yellow-200 border-yellow-700',
                                ]"
                                >
                                姓名
                                </th>
                                <th
                                class="px-6 align-middle border border-solid py-3 text-base border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                                :class="[
                                    color === 'light'
                                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                                    : 'bg-yellow-200 border-yellow-700',
                                ]"
                                >
                                帳號
                                </th>
                                <th
                                class="px-6 align-middle border border-solid py-3 text-base border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                                :class="[
                                    color === 'light'
                                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                                    : 'bg-yellow-200 border-yellow-700',
                                ]"
                                >
                                信箱
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <!--<tr v-for="item in pages" v-bind:key="item">-->
                                <th
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4 text-left flex items-center"
                                >
                                <span
                                    class="font-bold"
                                    :class="[color === 'light' ? 'text-blueGray-600' : 'text-white']"
                                >
                                    <!-- {{ item.email }} -->
                                </span>
                                </th>
                                <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4"
                                >
                                <span
                                    class="font-bold"
                                    :class="[color === 'light' ? 'text-blueGray-600' : 'text-white']"
                                >
                                    <!-- {{ item.first_name }} -->
                                </span>
                                </td>
                                <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4"
                                >
                                <div class="flex items-center">
                                    <span
                                    class="font-bold"
                                    :class="[color === 'light' ? 'text-blueGray-600' : 'text-white']"
                                    >
                                    <!-- {{ item.created_at }} -->
                                    </span>
                                </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </admin-layout>
</template>
<script>
import AdminLayout from "@/Layouts/AdminLayout";
import { createPopper } from "@popperjs/core";

export default {
    props: ["roles"],
    components: {
        AdminLayout,
    },
    data() {
        return {
            selected: null,
            dropdownPopoverShow: false,
        };
    },
    created: function () {
    },
    watch: {},
    methods: {
        toggleDropdown: function () {
            // console.log("muie");
            if (this.dropdownPopoverShow) {
                this.dropdownPopoverShow = false;
            } else {
                this.dropdownPopoverShow = true;
                createPopper(this.$refs.btnDropdownRef, this.$refs.popoverDropdownRef, {
                    placement: "bottom-start",
                });
            }
        },
        resetForm() {
            // this.form = {
            //     role_ids: [],
            // };
        },
        clickRole(role){
            // console.log(role.id);
            axios
            // .post("/api/user", this.form)
            .get(`/user/${role.id}`)
            .then((x) => {
                console.log(this)
                // this.$swal.fire("系統訊息", "建立成功!", "success");
                this.$emit("refresh");
            })
            // .catch((error) => {
            //     common.errorMessage(error);
            // })
            // .finally(() => {
            //     this.showModal = false;
            //     this.resetForm();
            // });
        }
    },
};

</script>


<style scoped>
</style>
