<template>
  <div>
    <div :class="{ bold: isFolder }" @click="toggle" @dblclick="makeFolder">
      {{ item.name }}
      <span v-if="isFolder">[{{ isOpen ? "-" : "+" }}]</span>
    </div>
    <ul v-show="isOpen" v-if="isFolder">
      <basic-tree
        class="item"
        v-for="(child, index) in item.children"
        :key="index"
        :item="child"
        @make-folder="$emit('make-folder', $event)"
        @add-item="$emit('add-item', $event)"
      ></basic-tree>
      <li class="add" @click="$emit('add-item', item)">+</li>
    </ul>
  </div>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";

export default {
  props: ["item"],
  components: {

  },
  data() {
    return {
      isOpen: false,
    };
  },
  created: function () {},
  computed: {
    isFolder: function () {
      return this.item.children && this.item.children.length;
    },
  },
  watch: {},
  methods: {
    toggle: function () {
      if (this.isFolder) {
        this.isOpen = !this.isOpen;
      }
    },
    makeFolder: function () {
      if (!this.isFolder) {
        this.$emit("make-folder", this.item);
        this.isOpen = true;
      }
    },
  },
};
</script>

<style scoped>
body {
  font-family: Menlo, Consolas, monospace;
  color: #444;
}
.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  /* list-style-type: dot; */
}
/* ul li {list-style-type: disc;} */
li { display: list-item; }
</style>
