<template>
  <div class="bg-white text-lg">
    <div :class="{ bold: isFolder, 'bg-yellow-200': isSelected}">
      <span v-if="isFolder" @click="setFolder()">[{{ isOpen ? "-" : "+" }}]</span>
      <a @click="toggle(item.id)">{{ item.name }}</a>
    </div>
    <ul v-show="isOpen" v-if="isFolder">
      <front-page-tree
        class="item"
        v-for="(child, index) in item.children"
        :key="index"
        :item="child"
        :selected="selected"
        @select-value="$emit('select-value', $event)"
        @make-folder="$emit('make-folder', $event)"
        @add-item="$emit('add-item', $event)"
      ></front-page-tree>
      <!-- <li class="add" @click="$emit('add-item', item)">+</li> -->
    </ul>
  </div>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";

export default {
  props: {
    item: {
      default: [],
    },
    selected: {
      default: 0,
    },
  },
  components: {},
  emits: ["make-folder", "add-item", "select-value"],
  data() {
    return {
      isOpen: this.item.isOpen,
    };
  },
  created: function () {},
  computed: {
    isFolder: function () {
      return this.item.children && this.item.children.length;
    },
    isSelected() {
      return this.selected == this.item.id;
    },
  },
  watch: {},
  methods: {
    toggle: function (id) {
      if (!id) return;
      this.$emit("select-value", id);
    },
    setFolder() {
      if (this.isFolder) {
        this.isOpen = !this.isOpen;
      }
    },
    makeFolder: function () {
      if (!this.isFolder) {
        this.$emit("make-folder", this.item);
        this.isOpen = true;
      }
    },
  },
};
</script>

<style scoped>
body {
  font-family: Menlo, Consolas, monospace;
  color: #444;
}
.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
ul {
  padding-left: 1em;
  /* line-height: 1.5em; */
  /* list-style-type: dot; */
}
/* ul li {list-style-type: disc;} */
li {
  display: list-item;
}
</style>
