<template>
  <div>
    <a
      class="text-blueGray-500 block"
      href="#pablo"
      ref="btnDropdownRef"
      v-on:click="toggleDropdown($event)"
    >
      <div class="items-center flex">
        <img
          class="w-12 h-12 rounded-full object-cover"
          :src="$page.props.user.profile_photo_url"
          :alt="$page.props.user.name"
        />
      </div>
    </a>
    <div
      ref="popoverDropdownRef"
      class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
      v-bind:class="{
        hidden: !dropdownPopoverShow,
        block: dropdownPopoverShow,
      }"
    >
      <NavLink
        :href="route('profile.show')"
        :active="route().current('profile.show')"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      >
        個人資料
      </NavLink>
      <NavLink
        :href="route('api-tokens.index')"
        :active="route().current('api-tokens.index')"
        v-if="$page.props.jetstream.hasApiFeatures"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      >
        API Token管理
      </NavLink>
      <div class="h-0 my-2 border border-solid border-blueGray-100"  v-if="this.$page.props.jetstream.hasTeamFeatures"/>
      <NavLink
      v-if="this.$page.props.jetstream.hasTeamFeatures"
        :href="route('teams.show', $page.props.user.current_team)"
        :active="route().current('teams.show')"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      >
        組織管理
      </NavLink>

      <NavLink
        :href="route('teams.create')"
        :active="route().current('teams.create')"
        v-if="$page.props.jetstream.canCreateTeams"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      >
        建立新組織
      </NavLink>

      <div class="h-0 my-2 border border-solid border-blueGray-100" />
      <a
        href="javascript:void(0);"
        v-on:click="logout()"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      >
        登出
      </a>
    </div>
  </div>
</template>

<script>
import { createPopper } from "@popperjs/core";
import NavLink from "@/Jetstream/NavLink";
// import image from "@/assets/img/team-1-800x800.jpg";

export default {
  components: {
    NavLink,
  },
  data() {
    return {
      dropdownPopoverShow: false,
      image: "",
    };
  },
  methods: {
    toggleDropdown: function (event) {
      event.preventDefault();
      if (this.dropdownPopoverShow) {
        this.dropdownPopoverShow = false;
      } else {
        this.dropdownPopoverShow = true;
        createPopper(this.$refs.btnDropdownRef, this.$refs.popoverDropdownRef, {
          placement: "bottom-start",
        });
      }
    },
    switchToTeam(team) {
      this.$inertia.put(
        route("current-team.update"),
        {
          team_id: team.id,
        },
        {
          preserveState: false,
        }
      );
    },

    logout() {
      this.$inertia.post(route("logout"));
    },
  },
};
</script>
