<template>

    <div>
        <!-- write code... -->
    </div>

</template>

<script>
import { Inertia } from "@inertiajs/inertia";

export default {
  props: {},
  components: {
  },
  data() {
    return {};
  },
  created: function () {
  },
  computed: {},
  watch: {},
  methods: {

  },
};
</script>


<style scoped>
</style>
