@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap")

@font-face
	font-family: "Gen-M"
	src: url("../fonts/GenSenMaruGothicTW-Medium.ttf")

$body-font: "Gen-M","Inter", sans-serif
$theme-bg: #1f1d2b
$body-color: #808191
$button-bg: #353340
$border-color: rgba(128,129,145,.24) 
$video-bg: #252936
$delay: 0s




*
  outline: none !important
  box-sizing: border-box
  text-decoration: none
  -webkit-appearance: none
html,body
  width: 100%
  height: 100%
  margin: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
body
  font-family: $body-font
  color: $body-color
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background: linear-gradient(163deg,rgba(225,227,234,0.4) 21%, rgba(225,227,234,1) 65%)
  padding: 1em 2em
  height: 100vh
  overflow: hidden
  &:before
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    opacity: .4
    content: ""
img
  max-width: 100%  
button
  cursor: pointer  
.content
  width: 100%
  height: 100%
  max-width: 100%

.app
  background-color: #f1f4fa
  backdrop-filter: blur(20px)
  max-width: 1400px
  max-height: 900px
  height: 86vh
  width: 100%
  display: flex
  overflow: hidden
  border-radius: 20px
  font-size: 15px
  font-weight: 500
  box-shadow: 0 20px 50px rgba(0, 0, 0, .3)
  position: relative
  
.sidebar
  width: 220px
  height: 100%
  padding: 30px
  display: flex
  flex-direction: column
  flex-shrink: 0
  transition: 0.2s
  overflow-y: auto
  overflow-x: hidden
  background-color: #f1f4fa
  .logo
    display: none
    width: 30px
    height: 30px
    background-color: #22b07d
    flex-shrink: 0
    color: #fff
    align-items: center
    border-radius: 50%
    justify-content: center
    &-expand
      text-decoration: none
      color: #353340
      font-size: 19px
      font-weight: 600
      line-height: 34px
      position: sticky
      top: 0
      // &::before
      //   content: ""
      //   position: absolute
      //   top: -30px
      //   left: 0
      //   background-color: $theme-bg
      //   width: 200px
      //   height: 70px
      //   z-index: -1
  &-link
    transition: .3s
    cursor: pointer
    &.is-active
      color: #FFF
      svg
        background-color: #353340
      span
        color: #353340
    &:hover
      transition: .3s
      svg
        color: #FFF
        background-color: #353340


                
  &.collapse
    width: 100px
    border-right: 1px solid $border-color
    align-items: center
    .logo-expand,
    .side-title
      display: none
    .logo
      display: flex    
      cursor: pointer
    .side-wrapper
      width: 40px
    .side-menu svg
      margin-right: 30px    

@keyframes bottom
  0%
    transform: translateY(100px)
    opacity: 0
  100%
    opacity: 1
    transform: none

.side-menu
  display: flex
  flex-direction: column
  a          
    display: flex
    align-items: center
    text-decoration: none
    color: $body-color
    flex-shrink: 0
    margin-right: 16px
    & + a
      margin-top: 26px

  svg
    width: 40px
    padding: 8px
    border-radius: 10px
    flex-shrink: 0
    margin-right: 16px
    transition: all .3s  

.side-title
  font-size: 12px
  letter-spacing: .07em
  margin-bottom: 24px      

.side-wrapper
  border-bottom: 1px solid $border-color
  padding: 36px 0
  width: 145px
  & + & 
    border-bottom: none
  &.singout
    position: absolute
    bottom: 0    
    svg
      background-color: transparent !important
      border-radius: 50% 
      color: #808191 !important
      &:hover
        background-color: rgba(255,255,255,.8) !important
        box-shadow: 0 0 15px 10px rgba(255,255,255,.8) 


.wrapper
  display: flex
  flex-direction: column
  flex-grow: 1
  margin: 30px 
  margin-left: 0
  background-color: #fff
  border-radius: 20px
  box-shadow: -1px 3px 20px -1px rgba(0, 0, 0 ,.03)
.header
  display: flex
  align-items: center
  flex-shrink: 0
  padding: 30px
.search-bar
  height: 45px
  display: flex    
  width: 100%
  max-width: 450px
  position: relative
  z-index: 99
  input
    width: 100%
    height: 100%
    border: none
    background-color:#f1f4fa
    color: #353340 !important
    border-radius: 50px
    font-family: $body-font
    font-size: 14px
    padding: 0 40px 0 16px
    box-shadow: 0 0 0 2px rgba(134,140,160,.02)
  button
    position: absolute
    width: 14px
    height: 14px
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e")
    background-size: 14px
    background-repeat: no-repeat
    background-position: 96%
    color: #808191
    z-index: 99
    right: 20px
    top: 50%
    transform: translateY(-50%) 
    border: 0 !important
 
.user
  &-settings
    display: flex
    align-items: center
    padding-left: 20px
    flex-shrink: 0
    margin-left: auto
    position: relative
    cursor: pointer
    &::after
      content: ""
      width: 6px
      height: 6px
      border-radius: 100%
      background-color: #35c922
      border: 2px solid #fff
      position: absolute
      top: -2px
    
    svg
      width: 10px
      flex-shrink: 0
      @media screen and (max-width: 575px)
        display: none
    .dropdown
      position: absolute  
      right: 0
      background-color: #353340
      border-radius: 20px
      width: 0
      height: 0
      top: 50px
      box-shadow: 0 8px 10px rgba(0, 0, 0, .1)
      z-index: 99
      ul
        list-style: none !important
        padding: 0
        margin: 0
        padding: 10px
        li
          padding: 10px 
          font-size: 13px
          cursor: pointer
          width: 98.94px
          a
            display: flex
            justify-content: left
            align-items: center
            width: 100%
            color: #fff !important
            img
              padding-right: 6px
              position: relative
              
          &:nth-child(1)
            border-bottom: 1px solid rgba(128, 129, 145, 0.24)
      &.show
        width: 118.95px
        height: auto
        display: block


        




    
          
  &-img
    width: 30px
    height: 30px
    flex-shrink: 0
    object-fit: cover
    border-radius: 50%
  &-name
    color: #353340
    font-size: 14px
    margin: 0 6px 0 12px
    @media screen and (max-width: 575px)
      display: none

.main-container
  display: flex
  flex-direction: column
  padding: 0 30px 30px
  flex-grow: 1
  overflow: auto

.anim
  animation: bottom 0.8s $delay both          
.button-group
  position: absolute
  top: 0px
  left: 130px
  display: flex
  button    
    width: 40px
    border: 0
    color: #fff
    font-size: 13px
    padding: 0 10px
    margin-right: 8px
    align-items: center
    justify-content: center
    height: 32px
    border-radius: 6px
    cursor: pointer
    transition: .3s
    display: flex
    &.add
      background-color: #22b07d
      &:hover
        background-color: #23c68b
    &.del
      background-color: #cccccc
      &:hover
        background-color: #e2e2e2
    &.onoff,&.edit
      background-color: #0daabc
      &:hover
        background-color: rgb(32, 198, 216)
     
.bulletin
  .button-group
    left: 95px

.main-header,.member-header
  font-size: 30px
  color: #353340
  font-weight: 700
  padding-bottom: 20px
  position: sticky
  top: 0
  left: 0
  background: linear-gradient(to bottom,#ffffff 0%,#ffffff 78%,rgba(255,255,255,0) 100%)   
  z-index: 11

  .main-change-page
    font-size: 12px
    position: absolute
    right: 15px
    bottom: 20px
    z-index: 99
    display: flex
    justify-content: center
    align-items: center  
    span
      padding: 0 10px
      opacity: .5
      letter-spacing: 1px

.small-header  
  font-size: 24px
  font-weight: 500
  color: #fff
  margin: 30px 0 20px

.main
  &-blog.off
    background-color: rgba(241,244,250,.5)
    border-radius: 20px
    .author-img__wrapper
      filter: grayscale(100%)
    .main-blog__time
      background-color: #8e8e8e
  &-blog__sort   
    position: absolute 
    right: 20px 
    top: 20px
    font-size: 12px
    display: flex
    justify-content: center
    align-items: center
    span
      margin-left: 3px
      margin-top: 2px
      color: #0daabc
  &-blog__author
    display: flex
    align-items: center
    padding-right: 20px
    min-width: 150px
    position: relative
    &.tips
      flex-direction: column-reverse
      align-items: flex-start
  &-blog__title
    font-size: 15px
    letter-spacing: 1px
    color: #353340
    // display: inline-block
    // overflow: hidden
    // text-overflow: ellipsis
    // white-space: nowrap
    // width: calc( 100% - 150px - 90px )
    &:hover
      a
        color: #045891
    a
      color: #353340
      transition: all .3s
  &-blog
    display: flex
    align-items: center
    width: 100%
    padding: 20px 30px
    // border-radius: 20px
    align-self: stretch
    // overflow: hidden
    position: relative
    transition: background .3s
    // border-bottom: 1px solid rgba(128, 129, 145, 0.24)
    &:after
      content: " "
      position: absolute
      width: 100%
      height: 1px 
      bottom: 0
      left: 0
      border-bottom: 1px solid rgba(128, 129, 145, .08)
    &:hover
      background-color: rgba(241,244,250,.6)
      border-radius: 20px
      &:after
        opacity: 0


          

    // & + &
    //   margin-left: 20px
    //   width: 
    //   background-image: url(https://c0.anyrgb.com/images/1020/945/venice-beach-2018-outdoors-sport-men-jumping-desert-sunset-extreme-sports-one-person-action.jpg)
    //   background-color: unset
    //   background-position-x: 0
    //   background-size: 139%
    //   fillter: saturate(1.4)
    //   .author-img
    //     border-color: rgba(255,255,255,.75)   
    //     margin-top: 14px
    //   .author-img__wrapper svg
    //     border-color: #ffe6b2
    //     color: #e7bb7d
    //   .author-detail
    //     margin-left: 0

    @media screen and (max-width: 905px)
      &,& + .main-blog
        // width: 50%
        padding: 30px        
      &
        background-size: cover
        background-position-x: center
        background-blend-mode: overlay  
    &__time
      background-color: #353340
      color: #fff
      padding: 5px 10px
      font-size: 12px
      border-radius: 6px
      position: absolute
      right: 20px
      bottom: 20px
      font-size: 12px

.author
  &-img
    width: 52px
    height: 52px
    border: 1px solid rgba(255,255,255,.75)
    padding: 4px
    border-radius: 50%
    object-fit: cover
    &__wrapper
      position: relative
      flex-shrink: 0
      svg
        width: 16px
        padding: 2px
        background-color: #fff
        color: #0daabc
        border-radius: 50%
        border: 2px solid #0daabc
        position: absolute
        bottom: 5px
        right: 0
  &-name
    font-size: 13px
    color: #353340
    font-weight: 500
    margin-bottom: 8px  
    opacity: .5
  &-info
    font-size: 13px
    font-weight: 400
    color: #353340
    opacity: .5
  &-detail
    margin-left: 16px      
    flex-shrink: 1


.seperate
  width: 3px
  height: 3px
  display: inline-block    
  vertical-align: middle
  border-radius: 50%
  background-color: #fff
  margin: 0 6px
  &.video-seperate
    background-color: $body-color

.videos
  display: grid
  width: 100%
  grid-template-columns: repeat(4, 1fr)
  grid-column-gap: 20px
  grid-row-gap: 20px
  @media screen and (max-width: 980px)
    grid-template-columns: repeat(2, 1fr)
.video
  position: relative
  background-color: $video-bg
  border-radius: 20px
  overflow: hidden
  transition: .4s
  &-wrapper
    position: relative
  &-name
    color: #fff
    font-size: 16px
    line-height: 1.4em
    padding: 12px 20px 0
    overflow: hidden
    background-color: $video-bg
    z-index: 9
    position: relative
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
  &-view
    font-size: 12px
    padding:  12px 20px 20px
    background-color: $video-bg 
    position: 
  &-by
    transition: .3s
    padding: 20px 20px 0
    display: inline-flex  
    position: relative
    &:before
      content: ""
      background-color: #22b07d
      width: 6px
      height: 6px
      border-radius: 50%
      position: absolute
      top: 26px 
      right: 5px
    &.offline:before
      background-color: #ff7551
  &-time
    position: absolute
    background-color: rgba(21,13,13,.44)
    color: rgba(255,255,255,.85)
    padding: 3px 8px
    font-size: 13px
    border-radius: 6px
    top: 10px
    z-index: 1
    right: 8px
  &:hover
    video
      transform: scale(1.6)  
      transform-origin: center
    .video-time
      display: none
    .video-author
      borrom: -65px
      transform: scale(0.6) 
      right: -3px
      z-index: 10
    .video-by
      opacity: 0   
  &-author
    position: absolute
    right: 10px
    transition: .4s
    bottom: -25px
    svg
      background-color: #0aa0f7
      color: #fff
      border-color: $video-bg

video
  max-width: 100%
  width: 100%
  border-radius: 20px 20px 0 0 
  display: block
  cursor: pointer
  transition: .4s

.member-area
  display: none  
.stream-area
  display: none  
  @media screen and (max-width: 940px)
    flex-direction: column
    .video-stream
      width: 100%
    .chat-stream
      margin-left: 0
      margin-top: 30px  
    .video-js.vjs-fluid
      min-height: 250px
    .msg__content
      max-width: 100%    


.show
  .member-area
    display: block
  .stream-area
    display: flex       
  .main-header,
  .main-blogs,
  .small-header,
  .videos
    display: none
.video-stream
  width: 65%
  object-fit: cover
  transition: 0.3s
  &:hover .video-js .vjs-big-play-button
    opacity: 1

.video-p
  margin-right: 12px
  object-fit: cover
  flex-shrink: 0
  border-radius: 50%
  position: relative
  top: 0
  left: 0   
  .author-img
    border: 0
  &-wrapper
    display: flex
    align-items: center
    .author-img
      border: 0
    svg
      width: 20px
      padding: 4px  
    @media screen and (max-width: 650px)
      flex-direction: column  
      .button-wrapper
        margin: 20px auto 0
      .video-p-detail
        display: flex
        flex-direction: column
        align-items: center
      .video-p
        margin-right: 0
  &-sub
    font-size: 12px
  &-title
    font-size: 24px
    color: #fff
    line-height: 1.4em
    margin: 16px 0 20px

  &-subtitle
    font-size: 14px
    line-height: 1.5em
    max-width: 60ch  
    & + &
      margin-top: 16px
  &-name
    margin-bottom: 8px
    color: #fff
    display: flex
    align-items: center
    &:after
      content: ""
      width: 6px
      height: 6px
      background-color: #22b07d
      border-radius: 50%
      margin-left: 8px
      display: inline-block
    &.offline:after
      background-color: #ff7551

.video-content
  width: 100%
.button-wrapper
  display: flex
  align-items: center
  margin-left: auto  

.like
  display: flex
  align-items: center
  background-color: $button-bg
  color: #fff
  border: 0
  font-family: $body-font
  border-radius: 8px
  padding: 10px 16px
  font-size: 14px
  cursor: pointer
  transition: all .3s
  &.red
    background-color: #ea5f5f
    &:hover
      background-color: #d84e4e
  svg
    width: 18px
    flex-shrink: 0
    margin-right: 10px
    padding: 0
  & + &
    margin-left: 16px  
  &:hover
    background-color: #2f2e3a  
 

.video-stats
  margin-left: 30px    
.video-detail
  display: flex
  margin-top: 30px
  width: 100%
.chat-header
  display: flex
  align-items: center
  padding: 20px 0
  font-size: 16px
  font-weight: 600
  color: #fff
  position: sticky
  top: 0
  background-color: #303444
  left: 0
  z-index: 1
  border-bottom: 1px solid $border-color
  svg
    width: 15px
    margin-right: 6px
    flex-shrink: 0
  span  
    margin-left: auto
    color: $body-color
    font-size: 12px
    display: flex


.chat-stream
  flex-grow: 1
  margin-left: 30px
.chat
  background-color: #303444
  border-radius: 20px
  padding: 0 20px
  max-height: 414px
  overflow: auto
  &-footer
    display: flex
    align-items: center
    position: sticky
    bottom: 0
    left: 0
    width: calc( 100% + 20px )
    padding-bottom: 12px
    background-color: #303444
    input
      width: 100%
      border: 0
      background-color: #2a2d38
      border-radius: 20px
      font-size: 12px
      color: #fff
      margin-left: -10px
      padding: 12px 40px
      font-weight: 500
      font-family: $body-font
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 12C2 6.48 6.47 2 12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10C6.47 22 2 17.52 2 12zm5.52 1.2c-.66 0-1.2-.54-1.2-1.2 0-.66.54-1.2 1.2-1.2.66 0 1.19.54 1.19 1.2 0 .66-.53 1.2-1.19 1.2zM10.8 12c0 .66.54 1.2 1.2 1.2.66 0 1.19-.54 1.19-1.2a1.194 1.194 0 10-2.39 0zm4.48 0a1.195 1.195 0 102.39 0 1.194 1.194 0 10-2.39 0z' fill='%236c6e78'/%3e%3c/svg%3e")
      background-repeat: no-repeat
      background-size: 24px
      background-position: 8px
      &::placeholder
        color: #6c6e78
    &:before    
      content: ""
      position: absolute
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.435 2.582a1.933 1.933 0 00-1.93-.503L3.408 6.759a1.92 1.92 0 00-1.384 1.522c-.142.75.355 1.704 1.003 2.102l5.033 3.094a1.304 1.304 0 001.61-.194l5.763-5.799a.734.734 0 011.06 0c.29.292.29.765 0 1.067l-5.773 5.8c-.428.43-.508 1.1-.193 1.62l3.075 5.083c.36.604.98.946 1.66.946.08 0 .17 0 .251-.01.78-.1 1.4-.634 1.63-1.39l4.773-16.075c.21-.685.02-1.43-.48-1.943z'/%3e%3c/svg%3e")
      background-repeat: no-repeat
      background-size: 14px
      background-position: center
      width: 18px
      height: 18px
      background-color: #6c5ecf
      padding: 4px
      border-radius: 50%
      right: 16px
      box-sizing: content-box
      cursor: pointer
  &-vid
    &__title
      color: #fff
    &__container
      margin-top: 40px
    &__wrapper
      display: flex
      align-items: center
      margin-top: 26px
    &__name
      color: #fff
      font-size: 14px
      line-height: 1.3em
      display: -webkit-box
      -webkit-line-clamp: 2
      overflow: hidden
      -webkit-box-orient: vertical
    &__img
      width: 100px
      height: 80px
      border-radius: 10px
      object-fit: cover
      object-position: right
      margin-right: 16px
      transition: .3s          
      &:hover
        transform: scale(1.02)
    &__content
      max-width: 20ch    
    &__by,
    &__info
      color: $body-color
      font-size: 13px
    &__by
      margin: 6px 0     
    &__button
      background-color: #6c5ecf
      border: 0
      color: #fff
      font-size: 13px
      margin-top: 26px
      display: flex
      padding: 0 10px
      align-items: center
      justify-content: center
      height: 40px
      border-radius: 10px
      cursor: pointer
      transition: .3s
      &:hover
        background-color: #5847d0

.message
  display: flex
  align-items: center
  margin-top: 18px   
  &:last-child
    margin-bottom: 18px
  &-container .author-img__wrapper svg
    width: 15px       

.msg
  &__name
    font-size: 13px
  &__content
    line-height: 1.4em
    max-width: 26ch
    display: -webkit-box
    overflow: hidden
    -webkit-line-clamp: 2       
    -webkit-box-orient: vertical


//player
.video-js .vjs-control-bar
  display: flex
  align-items: center
.vjs-poster
  background-size: 150%       
.video-js .vjs-control-bar
  width: 100%
  position: absolute
  bottom: 14px
  padding-left: 36px  
  left: 14px
  width: calc( 100% - 28px)
  right: 0
  border-radius: 10px
  height: 4em
  background-color: rgba(43, 51, 63, 0.7)
  @media screen and (max-width: 625px)
    padding-left: 0

.video-js:hover .vjs-big-play-button
  background-color: rgba(43, 51, 63, 0.5)
.video-js .vjs-big-play-button
  transition: 0.3s
  opacity: 0
  border: 0
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  &:hover
    background-color: rgba(43, 51, 63, 0.7)
    border-color: transparent
.vjs-play-control:after
  content: "LIVE"
  position: absolute
  left: -66px
  top: 7px
  background-color: #8941e3
  height: 24px
  font-family: $body-font
  font-size: 10px
  padding: 0 12px 0 26px
  display: flex
  font-weight: 700
  letter-spacing: 0.03em
  align-items: center
  border-radius: 6px
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-circle'%3e%3ccircle cx='12' cy='12' r='10'/%3e%3c/svg%3e")
  background-repeat: no-repeat
  background-size: 6px
  background-position: 12px
  @media screen and (max-width: 625px)
    display: none
.vjs-menu-button-inline .vjs-menu
  top: 4px

.video-js .vjs-control:before,
.video-js .vjs-time-control
  line-height: 40px
.video-js .vjs-tech
  object-fit: cover    

button.vjs-play-control.vjs-control.vjs-button
  margin-left: 40px
  @media screen and (max-width: 625px)
    margin-left: 0  

.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control:before
  content: ""
  position: absolute
  display: block
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.54 0h3.38c1.41 0 2.54 1.15 2.54 2.561V5.97c0 1.42-1.13 2.56-2.54 2.56H2.54C1.14 8.53 0 7.39 0 5.97V2.561C0 1.15 1.14 0 2.54 0zm0 11.47h3.38c1.41 0 2.54 1.14 2.54 2.56v3.41c0 1.41-1.13 2.56-2.54 2.56H2.54C1.14 20 0 18.85 0 17.44v-3.41c0-1.42 1.14-2.56 2.54-2.56zM17.46 0h-3.38c-1.41 0-2.54 1.15-2.54 2.561V5.97c0 1.42 1.13 2.56 2.54 2.56h3.38c1.4 0 2.54-1.14 2.54-2.56V2.561C20 1.15 18.86 0 17.46 0zm-3.38 11.47h3.38c1.4 0 2.54 1.14 2.54 2.56v3.41c0 1.41-1.14 2.56-2.54 2.56h-3.38c-1.41 0-2.54-1.15-2.54-2.56v-3.41c0-1.42 1.13-2.56 2.54-2.56z' fill='%23fff'/%3e%3c/svg%3e")
  background-size: 11px
  background-position: center
  background-position-y: 14px
  background-repeat: no-repeat
  opacity: .6
.vjs-playback-rate .vjs-playback-rate-value
  font-size: 1.1em
  line-height: 3.5em
  opacity: .6
  font-weight: 700
  font-family: $body-font

.video-js .vjs-playback-rate
  width: 2.2em  

.video-js.vjs-fluid
  border-radius: 20px
  overflow: hidden
  min-height: 414px

@media screen and (max-width: 735px)
  .main-blogs
    flex-wrap: wrap
  .main-blog,
  .main-blog + .main-blog
    width: 100%

  .videos
    grid-template-columns: 1fr

  .main-blog+.main-blog
    margin-left: 0
    background-size: cover



::-webkit-scrollbar
  width: 6px
  border-radius: 10px
::-webkit-scrollbar-thumb
  background-color: rgba(21,20,26,.3)
  border-radius: 8px  




.flatpickr
  color: #fff
  &-calendar    
    border-radius: 20px !important
    height: 330px
    box-shadow: 0 3px 13px rgba(0,0,0,.07)
    &.arrowTop:after
      border-bottom-color: #353340  !important
  &-month
    background-color: #353340  !important
    border-top-left-radius: 20px !important
    border-top-right-radius: 20px !important
    height: 45px !important
  &-current-month
    height: 45px !important
    padding: 15.48px 0 0 0 !important
    font-size: 15px
    color: #fff
    &::before
      content: ""
      width: 1px
      height: calc( 100% - 20px )
      position: absolute
      z-index: 1
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      background-color: #fff
      opacity: .4
  &-prev-month,&-next-month
    height: 45px !important
    display: flex
    flex-direction: column
    justify-content: center
    fill: rgba(255,255,255,0.9) !important
    &:hover
      svg
        fill: #0daabc !important
  &-monthDropdown-months
    appearance: none !important
    -moz-appearance: none !important
    -webkit-appearance: none !important
  &-weekdays
    height: 40px  
  &-day.today
    border: 0
    background-color: #0daabc
    color: #fff
  &-day.startRange,&-day.endRange
    background: #353340 !important
    border-color: #353340 !important
  &-day.inRange
    background-color: #f0f3f7 !important
    border-color: #f0f3f7 !important
    box-shadow: -5px 0 0 #f0f3f7 !important
  &-input
    width: 45px
    height: 45px
    opacity: 0
  &-icon  
    position: absolute
    top: 50%
    left: 50%
    display: flex
    transform: translate(-50%,-50%)
  &-input-body 
    position: relative
    border-radius: 100%
    background-color: #f1f4fa
    margin-left: 20px
  &-weekdaycontainer
    font-size: 13px  
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1))
  box-shadow: -10px 0 0 #f0f3f7 !important
.dayContainer
  font-size: 12px  

.footer
  &-lg,&-sm 
    font-size: 12px
    position: absolute
    bottom: 25px
    opacity: .6
  &-sm 
    position: relative  
    display: none
   



@media screen and (max-width: 1200px)
  .authority-card
    width: calc( 100%/2 - 20px) !important

@media screen and (max-width: 1090px)
  .wrapper
    margin-left: 30px
@media screen and (max-width: 991px)
  .members-card
    width: calc( 100%/3 - 20px) !important
  .group-card
    width: calc( 100%/2 - 20px) !important
  .authority-card
    width: calc( 100% - 20px) !important  
    margin-bottom: 20px !important
  .groupEditCard
    width: calc( 100%/2 - 20px) !important
  .md-modal
    min-width: 90% !important
    max-width: 90% !important
@media screen and (max-width: 767px)
  .main-blog
    display: block
    &__time
      top: 40px
      bottom: auto
    &__title  
      font-size: 14px  
  .author
    &-img
      width: 45px
      height: 45px
    &-detail
      margin-left: 10px
  .sidebar.collapse
    width: 80px    
    .side-wrapper
      width: 30px   
    .side-menu svg
      width: 30px   
  // .singout   
  //   width: 35px !important 
  //   svg
  //     width: 35px !important
  .wrapper
    margin: 20px 
  .member-content
    display: block  !important

  .newsContent-title
    padding: 20px  !important
    img
      display: none
  .member-input
    width: 100% !important
  .member  
    padding: 20px 0px !important
  .members-card
    width: calc( 100%/2 - 20px) !important
  input[type="checkbox"]
    width: 30px
    height: 30px
  .authority-set-card
    height: 100% !important  
  .md-modal .member-input .member
    padding: 15px 30px !important

@media screen and (max-width: 676px)
  .wrapper
    margin: 0px  
    border-radius: 0
  .main-blog
    padding: 20px 10px !important
    margin-top: 0px !important
  .main-blog__time
    top: 20px    
  input[type="checkbox"]
    top: 0 !important
    left: -25px !important
  input[type="checkbox"] + .main-blog__author:before
    top: 0 !important
    left: -20px !important    
  input[type="checkbox"]:checked + .main-blog__author:before
    top: 0 !important
    left: -18px !important    
  .main-blog.off
    background-color: #fff  
  .main-blog__sort
    right: 110px
    top: 22px    
@media screen and (max-width: 575px)
  .app
    max-height: 100%
    height: 100vh
    border-radius: 0
  body
    padding: 0
  .footer-lg 
    display: none
  .user-settings
    display: none  
  .main-blogs
    margin-bottom: 20px  
  .author-name
    margin-bottom: 3px  
  .main-blog
    padding: 30px 20px !important 
  .login
    width: 350px !important  
  .group-card
    width: 100% !important  
  .authority-set-card
    display: block !important
    max-height: 100% !important  
@media screen and (max-width: 475px)
  .author-name
    font-size: 12px
  .main-blog__author
    align-items: flex-start        
  .author-detail
    margin-left: 10px
    margin-top: 5px
  .main-container
    padding: 0 10px 10px
  .header
    padding: 20px
  .sidebar.collapse
    width: 40px      
  .sidebar
    align-items: center  
  body
    padding: 0
  .app
    height: 100vh
  .side-menu svg
    width: 30px
  .main-blog__title
    font-size: 13px
    padding-top: 8px
  .main-header
    padding: 20px 5px
  .main-blogs
    margin-bottom: 25px    
  .members-card
    width: calc( 100% - 20px) !important  
  .button-group
    top: 55px !important 
    left: 5px !important 
  .main-blog 
    padding: 20px 10px !important
 
  .main-blog.off
    border-radius: 0  
  .button-group
    left: 5px !important
    top: 55px !important
    button
      width: 35px !important
      height: 30px !important  
  .main-blog.off
    background-color: #fff

  .button-group
    left: auto !important
    right: 20px !important
    top: 52px !important

  input[type="checkbox"]
    top: 5px !important;
    left: -5px !important;
    width: 20px
    height: 20px
  input[type="checkbox"] + .main-blog__author:before
    top: 0 !important
    left: -10px !important    
  input[type="checkbox"]:checked + .main-blog__author:before
    top: 0 !important
    left: -8px !important    
  .member-card
    margin-top: 0 !important  
  .members-content
    padding-top: 0 !important     
  .login
    width: 320px !important    
  .groupEditCard
    width: calc( 100% - 20px) !important
  .button-group
    display: block
    position: initial
    margin-left: 10px
  .bulletin
    .button-group  
      display: flex !important
      position: absolute !important
      margin-left: 0
  .main-header
    display: flex
  .side-menu a + a
    margin-top: 5px
  .newsContent-title .button-group
    position: absolute
    margin-left: 0


.login
  width: 480px
  height: 220px
  background-color: #ecf0f3
  box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9
  backdrop-filter: blur(20px)
  display: flex
  border-radius: 20px
  font-size: 15px
  font-weight: 500
  position: relative
  font-family: $body-font !important
  .wrapper
    background-color: transparent
    display: flex
    flex-direction: column
    flex-grow: 1
    margin: 30px 
    border-radius: 20px
    box-shadow: none
  .input-group
    position: relative  
    .form-input
      width: 100%
      height: 50px
      margin: 10px 0
      padding: 10px 5px 10px 40px
      font-size: 13px
      letter-spacing: 0.15px
      border: none
      outline: none
      background-color: #ecf0f3
      transition: 0.25s ease
      border-radius: 8px
      box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9
      color: #353340
      font-family: "Gen-M"
      &:focus
        padding: 10px 5px 10px 10px
        outline: 0
    span
      position: absolute
      display: block
      color: lighten(#353340, 10%)
      left: 15px
      top: 50%
      transform: translateY(-50%)
      font-size: 15px
  .submit
    position: absolute
    left: 50%
    bottom: -15px
    transform: translateX(-50%)  
    border: 0
    font-size: 16px
    letter-spacing: 1px
    background-color: #353340
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    width: 150px
    height: 55px
    color: #fff
    box-shadow: 5px 0px 6px rgba(0,0,0,.1),inset 2px 2px 5px #dad9ed
    transition: .3s
    font-family: "Gen-M"
    &:hover
      box-shadow: 5px 0px 6px rgba(0,0,0,.1),inset 2px 2px 10px rgba(0,0,0,.8)
      letter-spacing: 2px
      transition: .3s
    
    &::before
      content: ""
      position: absolute
      z-index: 1
      left: -10px
      bottom: 0
      width: 0
      height: 0
      border-style: solid
      border-width: 0 10px 15px 0
      border-color: transparent #282730 transparent transparent
    &::after
      content: ""
      position: absolute
      z-index: 1
      right: -10px
      bottom: 0
      width: 0
      height: 0
      border-style: solid
      border-width: 15px 10px 0 0
      border-color: #282730 transparent transparent transparent  








.member-area
  height: 100%
.member-content
  display: flex
.member-card
  flex-grow: 1
  margin: 20px 0 30px 0
  button
    background-color: #6c5ecf
    width: 100%
    border: 0
    color: #fff
    font-size: 13px
    margin-top: 26px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    padding: 0 10px
    align-items: center
    justify-content: center
    height: 40px
    border-radius: 10px
    cursor: pointer
    transition: .3s
  .member-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #f1f4fa
    height: 230px
    border-radius: 10px
    padding: 20px 30px
    margin-bottom: 30px
    box-shadow: -1px 3px 4px -1px rgba(0, 0, 0, .12)
    img
      width: 65px
      height: 65px
      border-radius: 50%
      object-fit: cover
      margin: 20px
    .info
      text-align: center
      small
        font-size: 12px
      p
        letter-spacing: 1px  
        font-size: 15px
        color: #353340
        font-family: "Gen-M"
.member-input
  width: 65%  
  display: flex
  flex-direction: column
  label
    display: block
    font-size: 12px
    color: #808191
  input
    margin: 10px
    border: 0 !important
    border-bottom: 1px solid rgba(128, 129, 145, 0.24) !important
    margin-left: 0
    padding: 0 10px 10px 0
    width: 100%
    font-family: "Gen-M"
    font-size: 15px
    letter-spacing: 1px
    color: rgb(84, 84, 84)
    &:disabled
      background-color: transparent !important
    
  textarea
    margin: 10px  
    margin-left: 0
    border: 1px solid rgba(128, 129, 145, 0.14)
    width: 100%
    border-radius: 10px
    padding: 10px
    font-size: 15px
    font-family: "Gen-M"
    color: rgb(84, 84, 84)
    line-height: 25px
    &:disabled
      background-color: transparent !important
  .member
    padding: 20px 30px




.newsContent
  &-title
    font-size: 16px  
    background: rgba(241, 244, 250, 0.45)
    border-radius: 20px
    padding: 20px
    letter-spacing: 1.2px
    position: relative
    padding-left: 250px
    min-height: 140px
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 20px
    font-weight: 500
    .button-group
      left: auto 
      bottom: auto 
      right: 20px 
      top: 20px 
      button
        margin-right: 0
      img
        width: 18px
        position: relative
        top: auto
        transform: translateY(0)
        display: block !important

          
    &-text
      display: flex
      flex-direction: column
      max-width: 450px
      h3
        margin: 0
        margin-bottom: 10px 
        font-weight: 500
      small
        font-size: 12px
        opacity: .5
        line-height: 19px
    img
      position: absolute
      width: 230px
      top: 50%
      transform: translateY(-50%)
      left: 0
    &-time
      background-color: #353340
      color: #fff
      padding: 5px 10px
      font-size: 12px
      border-radius: 6px
      position: absolute
      right: 20px !important
      bottom: 20px !important
      font-size: 12px !important
  &-main
    font-size: 14px
    color: #808191
    margin-top: 50px
    padding: 30px 0px
    line-height: 32px
    border-top: 1px solid rgba(128, 129, 145, 0.08)
    border-bottom: 1px solid rgba(128, 129, 145, 0.08)
  &-bottom
    padding: 20px 0 
    text-align: right
    font-size: 12px



@media screen and (max-width: 1120px)
  .newsContent-title-time
    bottom: -36px !important
    right: 0px !important
  .newsContent-title .button-group
    left: auto
    bottom: -40px !important
    right: 105px !important
    top: auto !important
.members
  &-content
    display: flex
    flex-wrap: wrap
    padding: 20px 0
    font-size: 13px
  &-card    
    position: relative
    background-color: #f1f4fa
    border-radius: 10px
    height: 170px
    width: calc( 100%/4 - 20px )
    flex-shrink: 1
    display: flex
    flex-direction: column
    justify-content: center
    margin: 0 10px
    margin-bottom: 20px
    box-shadow: 0 2px 6px 0 rgba(136,148,171,.2), 0 24px 15px -24px rgba(71,82,107,.1)
    position: relative
    top: 0
    transition: all .4s
    &:hover
      top: -10px
      box-shadow: 0 12px 6px 0 rgba(136,148,171,.15), 0 36px 15px -24px rgba(71,82,107,.05)
    &-header
      width: 50px
      height: 50px
      border-radius: 50%
      background-color: #fff
      margin-bottom: 12px
      position: relative
      h6
        text-align: center
        color: #fff
        font-size: 18px
        margin: 0
        font-weight: 500
        line-height: 55px
    &-name
      margin-bottom: 12px
    &-account
      opacity: .6
      font-size: 12px  
    &-dot
      position: absolute
      right: 0
      top: 0
      width: 30px
      height: 30px
      cursor: pointer
    &-edit
      width: 3px
      height: 3px
      border-radius: 50%
      position: absolute
      top: 20px 
      right: 15px
      background-color: #808191
      border: 0
      padding: 0
      &::before
        content: ""
        position: absolute   
        background-color: #808191
        width: 3px
        height: 3px
        border-radius: 50%
        top: 6px 
        right: 0px
      &:after
        content: ""
        position: absolute   
        background-color: #808191
        width: 3px
        height: 3px
        border-radius: 50%
        top: -6px 
        right: 0px  
    &-lv
      svg
        border-radius: 50%
        border: 2px solid #f1f4fa
        background-color: #353340
        position: absolute
        bottom: 3px
        right: -3px
        width: 20px
        padding: 3px
        color: #fff
    &-del    
      position: absolute
      bottom: 10px
      left: 10px
      background-color: transparent
      border: 0 
      border-radius: 4px
      transition: all .4s
      padding-top: 2px
      &:hover
        background-color: #dee3ed
        

      
input[type="checkbox"]
  cursor: pointer
  opacity: 0
  position: absolute
  left: 5px
  z-index: 99
  width: 20px
  height: 20px
  + .main-blog__author
    &:before
      content: ""
      display: block
      width: 12px
      height: 12px
      border: 1px solid #808191
      position: absolute
      left: -20px
      top: 50%
      transform: translateY(-50%)
      opacity: .2
      transition: all .12s, border-color .08s
      border-radius: 3px
  &:checked
    background-color: #fff !important
    + .main-blog__author
      &:before
        width: 5px 
        left: -15px
        top: 50%
        border-radius: 0
        opacity: 1
        border-color: #ffa515
        border-top-color: transparent
        border-left-color: transparent
        transform: translateY(-50%) rotate(45deg)
  

.group
  &-content
    position: relative
    display: flex
    flex-wrap: wrap
    padding: 20px 0
  *
    transition: 0.4s !important  
  &-card
    width: calc( 100%/3 - 20px)
    position: relative
    margin: 0 10px
    &:hover
      .group-edit
        display: flex !important
        transition: 0.4s !important
        top: 0px !important
        transition: 0.4s !important
  .checkbox  
    width: 100%
    height: 55px
    border: 2px solid #ddd
    background-color: #999
    border-radius: 6px
    overflow: hidden
    position: relative
    z-index: 1
    &:hover
      &:after
        color: #f1f4fa   
      label
        &:after
          background: #f1f4fa
       
    input
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 5
      opacity: 0
      cursor: pointer
    &:after
      content: "OFF"
      position: absolute
      left: 10px
      top: 50%
      transform: translateY(-50%)
      font-size: 12px
      color: #fff
      z-index: 2
      transition: 0.3s !important
    label:before
      content: "ON"
      left: auto
      top: 50%
      transform: translateY(-50%)
      right: 10px
      z-index: 1
      position: absolute
      font-size: 12px
      color: #fff
    label
      background-color: #353340
      width: 100%
      height: 53px
      border-radius: 4px    
      position: relative
      display: inline-block
      &:after
        content: ''
        border-radius: 4px
        top: 0
        width: calc( 100% - 40px)
        height: 53px
        position: absolute
        left: 0
        z-index: 1
        background: #fff
        transition: 0.4s
      
    input:checked + label
      transform: translateX(40px)
      &::after
        left: 0    
    input:checked ~ .group-name
      left: calc( 50% + 20px ) !important
      transition: 0.35s

  &-name
    position: absolute
    top: 50%
    left: calc( 50% - 20px )
    transform: translate(-50%,-50%)
    z-index: 2
    pointer-events: none
    transition: 0.35s
    display: flex
    justify-content: 
    align-items: center
    font-size: 13px
    width: fit-content
    img
      margin-right: 10px
      margin-bottom: 2px
    span
      padding-left: 5px  
  &-edit
    width: 30px  
    height: 30px
    background-color: #353340
    border-radius: 100%
    z-index: 0
    display: flex
    margin-top: 5px
    position: relative
    top: -50px
    justify-content: center
    align-items: center
    font-size: 12px
    color: #fff
    cursor: pointer
    transition: 0.4s
    margin: 8px auto 10px
    &:hover
      background-color: #0daabc


.badge
  display: inline-block
  padding: .3em .5em
  font-size: 82%
  line-height: 1
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: .2rem
  position: absolute
  top: 10px
  left: 10px
  &-soft-danger
    background-color: rgba(255, 190, 11, .2)
    color: #ffbe0b !important
  &-soft-success
    background-color: rgba(67, 211, 158, .2)
    color: #43d39e !important





.authority
  &-content
    display: flex
    flex-wrap: wrap
  &-card
    display: inline-block
    width: calc( 100%/3 - 20px)
    vertical-align: top
    margin-bottom: 24px
    border-radius: 0.2rem
    background: rgba(241, 244, 250, 0.5)
    padding: 0 1rem 1rem 1rem
    margin: 0 10px
    height: fit-content
    border-radius: .5rem
    h5
      padding: 1rem 0rem 1.5rem 0rem
      margin: 0
      border-radius: 0.2rem
      font-size: 15px
      font-weight: 500
      position: relative
  &-btn    
    border: 0
    background-color: transparent  
    border-radius: 4px
    background-color: #0daabc
    width: 50px
    padding: 0 10px
    align-items: center
    justify-content: center
    height: 32px
    border-radius: 6px
    cursor: pointer
    transition: .3s
    display: flex
    position: absolute
    top: 15px
    right: 0px
    color: #fff
    &:hover
      background-color: rgb(32, 198, 216)
    &-mem
      right: 60px
      background-color: #22b07d
      &:hover
        background-color: #23c68b 
  &-body  
    padding: 0.7rem 1rem
    background-color: #fff
    background-clip: border-box
    border: 1px solid #f6f6f7
    border-radius: .5rem
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,.02), 0 0.9375rem 1.40625rem rgba(4,9,20,.02), 0 0.25rem 0.53125rem rgba(4,9,20,.02), 0 0.125rem 0.1875rem rgba(4,9,20,.02)
    margin-bottom: 10px
    transition: all 0.4s
    position: relative
    top: 0 
    cursor: pointer
    h6
      margin: 0
      font-weight: 500
      font-size: 13px
    button
      border: 0
      background-color: transparent  
      padding-top: 2px
      border-radius: 4px
      height: 27px
      transition: all 0.4s
      &:hover
        background: #ededed
    &:hover
       box-shadow: 0 0.96875rem 2.1875rem rgba(4,9,20,.02), 0 1.9375rem 1.40625rem rgba(4,9,20,.02), 0 1.25rem 0.53125rem rgba(4,9,20,.02), 0 0.525rem 0.1875rem rgba(4,9,20,.02)
       top: -5px
       transition: all 0.4s




.authoritySetup
  .authority
    &-set-card
      display: flex
      flex-direction: column
      flex-wrap: wrap
      width: calc( 100% - 20px)
      vertical-align: top
      margin-bottom: 24px
      border-radius: 0.2rem
      background: rgba(241, 244, 250, 0.5)
      height: fit-content
      border-radius: .5rem       
      font-size: 14px
      max-height: 490px
      padding: 1rem 1rem 1rem 1rem
    &-item  
      display: flex
      justify-content: space-between
      align-items: center
      border-bottom: 1px solid rgba(128, 129, 145, 0.1)
      padding-bottom: 10px
      margin: 0.8rem 1rem 
      p
        margin: 0
      .toggle-btn
        width: 60px
        height: 30px
        border-radius: 50px
        display: inline-block
        position: relative
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==') no-repeat 50px center #999
        background-size: 10px
        background-position: 41px
        cursor: pointer
        transition: background-color .4s ease-in-out
        &.active
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC') no-repeat 10px center #353340
          background-size: 12px
          .round-btn
            left: 35px
        .round-btn
          width: 20px
          height: 20px
          background-color: #fff
          border-radius: 50%
          display: inline-block
          position: absolute
          left: 5px
          top: 50%
          margin-top: -10px
          transition: all .4s ease-in-out
        .cb-value
          position: absolute
          left: 0
          right: 0 
          width: 100%
          height: 100%
          opacity: 0
          z-index: 9
          cursor: pointer
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" 
    







.md-effect-1 .md-content
  -webkit-transform: scale(0.7)
  -moz-transform: scale(0.7)
  -ms-transform: scale(0.7)
  transform: scale(0.7)
  opacity: 0
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s
.md-show.md-effect-1 
  .md-content
    -webkit-transform: scale(1)
    -moz-transform: scale(1)
    -ms-transform: scale(1)
    transform: scale(1)
    opacity: 1
    border-radius: 18px
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2)
.md-modal
  position: fixed
  top: 50%
  left: 50%
  width: 50%
  max-width: 530px
  min-width: 320px
  max-height: 530px
  height: auto
  z-index: 99999
  visibility: hidden    
  -webkit-backface-visibility: hidden
  -moz-backface-visibility: hidden
  backface-visibility: hidden
  -webkit-transform: translateX(-50%) translateY(-50%)
  -moz-transform: translateX(-50%) translateY(-50%)
  -ms-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)
  overflow:  auto
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2)
  border-radius: 18px
  .member-input
    width: 100%
    .member
      padding: 15px 30px
 

.md-modal::-webkit-scrollbar
  display: none !important
  -ms-overflow-style: none  

.md-show 
  visibility: visible
  ~ .md-overlay
    opacity: 1
    visibility: visible
.md-content
  color: #fff
  background-color: #fff
  position: relative
  border-radius: 3px
  margin: 0 auto

  h5
    padding: 1.2rem
    margin: 0
    text-align: center
    font-weight: 500  
    background-color: #f1f4fa
    border-top-left-radius: 18px
    border-top-right-radius: 18px
    font-size: 16px
    color: #353340
    display: flex
    position: sticky
    top: 0
    left: 0
    z-index: 1
  > div
    padding-bottom: 15px
    margin: 0
    font-weight: 500
    font-size: 1.15em
  .md-close
    display: block
    font-size: .8em
    border: 0 !important
    z-index: 1
    background-color: transparent !important
    color: #353340
    position: absolute
    top: 20px
    right: 10px
    outline: none !important
.md-overlay 
	position: fixed
	width: 100%
	height: 100%
	visibility: hidden
	top: 0
	left: 0
	z-index: 1000
	opacity: 0
	background: rgba(0,0,0,0.2)
	-webkit-transition: all 0.3s
	-moz-transition: all 0.3s
	transition: all 0.3s



.saveBtn-bg
  width: 100%
  padding: 15px 30px
  padding-top: 0
.saveBtn
  background-color: #6c5ecf
  align-items: center
  justify-content: center
  width: 100%
  border: 0
  color: #fff
  font-size: 13px
  display: flex
  padding: 0 10px
  height: 40px
  border-radius: 10px
  cursor: pointer
  transition: .3s
  font-family: "Gen-M"
  &:hover
    background-color: #8476ed
    





.groupEditTitle
  width: 100%
  padding: 1rem 0.5rem
  color: #808191
  border-radius: 10px
  display: flex
  align-items: center
  border-bottom: 1px solid rgba(241, 244, 250, 0.8)
  margin-bottom: 15px
  img
    margin-right: 10px
    margin-bottom: 2px
.groupEditName
  display: flex
  align-items: center
  justify-content: space-between  
.groupEditCardBody
  display: flex 
  flex-wrap: wrap 
  margin-bottom: 20px
.groupEditCard  
  width: calc( 100%/4 - 20px) 
  padding: 1rem 1rem 1rem 3rem 
  background-color: #fff
  background-clip: border-box
  border: 1px solid #f6f6f7
  border-radius: .5rem
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,.02), 0 0.9375rem 1.40625rem rgba(4,9,20,.02), 0 0.25rem 0.53125rem rgba(4,9,20,.02), 0 0.125rem 0.1875rem rgba(4,9,20,.02)
  margin-bottom: 10px
  transition: all 0.4s
  position: relative
  top: 0 
  cursor: pointer
  display: flex
  margin: 10px
  h6
    margin: 0
    font-weight: 500
    font-size: 13px
  &:hover
      box-shadow: 0 0.96875rem 2.1875rem rgba(4,9,20,.02), 0 1.9375rem 1.40625rem rgba(4,9,20,.02), 0 1.25rem 0.53125rem rgba(4,9,20,.02), 0 0.525rem 0.1875rem rgba(4,9,20,.02)
      top: -5px
      transition: all 0.4s  

  input[type="checkbox"]
    cursor: pointer
    opacity: 0
    position: absolute
    z-index: 99
    width: 100%
    height: 100%
    left: 0
    
    + h6
      &:before
        content: ""
        display: block
        width: 12px
        height: 12px
        border: 1px solid #808191
        position: absolute
        left: 20px
        top: 50%
        transform: translateY(-50%)
        opacity: .2
        transition: all .12s, border-color .08s
        border-radius: 3px
    &:checked
      background-color: #fff !important
      + h6
        &:before
          width: 5px 
          left: 25px
          top: 45%
          border-radius: 0
          opacity: 1
          border-color: #ffa515
          border-top-color: transparent
          border-left-color: transparent
          transform: translateY(-50%) rotate(45deg)    
  


.spinner
  padding-top: 0 !important
  display: block
  *
    text-align: center
  label
     text-align: left 
  input
    margin: 10px 0
    pointer-events: none
    border: 1px solid rgba(128, 129, 145, 0.14) !important
    border-radius: 0 !important
    padding: 10px 14px
    border-left: 0 !important
    border-right: 0 !important
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    margin: 0
    -webkit-appearance: none    
  button
    border: 0
    background-color: transparent     
    padding: 11px
    border: 1px solid rgba(128, 129, 145, 0.14) !important
    &.minus  
      border-top-left-radius: 8px
      border-bottom-left-radius: 8px
    &.plus
      border-top-right-radius: 8px
      border-bottom-right-radius: 8px  











.swal2-popup
  border-radius: 20px !important

.swal2-container
  z-index: 99999999 !important 

.swal2-title
  color: #a5dc86 !important
  font-size: 18px !important
  font-family: "Gen-M" !important
  font-weight: 500 !important

.swal2-container.swal2-backdrop-show
  background: rgba(0,0,0,.2) !important

.swal2-icon
  margin-bottom: 10px !important
  margin-top: 10px !important
.swal2-cancel.btn-danger
  margin-right: 20px !important
  background-color: #cccccc !important
  border-color: #cccccc !important
  border-radius: 6px !important
  padding: 8px 10px !important
  border: 0 !important
  transition: all .4s !important
  color: #fff
  font-family: "Gen-M" !important
  &:hover
    background-color: #e2e2e2 !important
.swal2-confirm.btn-success  
  background-color: #22b07d !important
  border-color: #22b07d !important
  border-radius: 6px !important
  padding: 8px 10px !important
  border: 0 !important
  transition: all .4s !important
  color: #FFF
  font-family: "Gen-M" !important
  &:hover
    background-color: #23c68b !important

.swal2-title.delete-swal-title
  color: #f8bb86 !important

.swal2-html-container.delete-swal-text
  font-size: 14px !important



















    




.label.ui.dropdown
  display:  block !important
  width: auto !important
  height: auto !important
  border: 0
  border-radius: 0
  border-bottom: 1px solid rgba(128, 129, 145, 0.24) !important
  margin: 10px
  margin-left: 0
  padding: 0 10px 10px 0
  width: 100%
  .ui.label
    background-color: #f1f4fa !important
    font-size: 13px
    font-weight: 500
    padding: .45714286em .78571429em
    >.delete.icon
      &::before
        content: url("https://img.icons8.com/material-rounded/11/000000/delete-sign.png")
        vertical-align: middle
.menu
  &::-webkit-scrollbar
    width: 4px !important
    border-radius: 10px !important
  &::-webkit-scrollbar-thumb
    background-color: rgba(21,20,26,.1) !important
    border-radius: 8px !important
.ui.selection
  box-shadow: none !important
  &.active.dropdown
    &:hover
      box-shadow: none !important
      .menu
        border-color: transparent !important
    .menu
      border-color: transparent !important
      top: 103% !important
  &.dropdown
    min-height: auto !important
    .menu>.item
      font-size: 13px
      color: #545454 !important 
      &:hover
        background-color: rgba(241,244,250,.6)  
.ui.multiple.dropdown
  >.text
    margin: 0
    color: #545454 !important
    font-size: 15px
    font-weight: 500
.ui.dropdown .menu .selected.item
  background-color: rgba(241,244,250,.6)








.search-dropdown
  width: 100%
  display: inline-block
  background: #FFF
  border-radius: 5px
  transition: all .5s ease
  position: relative
  font-size: 14px
  color: #474747
  text-align: left
  outline-color: transparent
  position: relative
  transition: .5s 
  .select
    margin: 10px
    border: 0 !important
    border-bottom: 1px solid rgba(128, 129, 145, 0.24) !important
    margin-left: 0
    padding: 0 10px 10px 0
    width: 100%
    font-family: "Gen-M"
    font-size: 15px
    letter-spacing: 1px
    color: rgb(84, 84, 84)
    cursor: pointer
    display: block
    border: 1px solid #e2e7f1
    position: relative
    span
      color: rgb(84, 84, 84)  
  &:active
    background: #FFF 
.search-dropdown.active  
  .font-style
    color: #4b4b5a   
.search-dropdown.active , .search-dropdown.active:hover
    border-radius: 5px 5px 0 0
    background-color: #FFF 
.search-dropdown.active 
  .select > i
    transform: rotate(-90deg)
    transition: .5s 
.search-dropdown
  .dropdown-menu     
    position: absolute
    background: #f1f4fa
    width: 100%
    left: 0
    box-shadow: 0 1px 2px rgb(204,204,204)
    border-radius: 0 1px 5px 5px 
    overflow: hidden
    display: none
    max-height: 240px
    overflow-y: auto
    padding: 0
    list-style: none
    margin: 0
    li
      padding: 10px
      transition: all .2s ease-in-out
      cursor: pointer
      font-size: 13px
      color: #474747
      &:hover
        background: #e6eaf2
      &:active
        background: #e6eaf2
.input-group-append
  max-height: 39px        
.fa-chevron-left
  float: right
  &:before
    font-size: 12px !important
    color: #888
    cursor: pointer
    transition: all .3s ease-in-out



  