<template>
  <admin-layout>
    <div class="relative pb-5 pt-5">
      <div class="w-full mb-6 px-4 text-right" style="margin-top: 20px">
        <role-modal @refresh="refresh()" />
      </div>

      <div class="mb-6 px-4 mx-auto w-full">
        <role-table color="light" :pageData="pageData"></role-table>
      </div>
    </div>
  </admin-layout>
</template>
<script>
import AdminLayout from "@/Layouts/AdminLayout";
import RoleTable from "@/components/Table/RoleTable";
import RoleModal from "@/components/Modals/RoleModal";
import { Inertia } from "@inertiajs/inertia";

export default {
  props: ["pageData"],
  components: {
    AdminLayout,
    RoleTable,
    RoleModal
  },
  data() {
    return {};
  },
  created: function () {
  },
  watch: {},
  methods: {
    refresh(){      
       Inertia.visit("/admin/permission-management/role-setting?page=" + 1, {
        method: "get",
      });
    }
  },
};
</script>

<style scoped></style>
