<template>
  <admin-layout>
    <div class="relative pb-5 pt-5">
      <div class="w-full mb-6 px-4 text-right" style="margin-top: 20px">
        <user-modal @refresh="refresh()" />
      </div>
      <div class="mb-6 px-4 mx-auto w-full">
        <user-table color="light" :pageData="pageData"></user-table>
      </div>
    </div>
  </admin-layout>
</template>
<script>
import AdminLayout from "@/Layouts/AdminLayout";
import { Inertia } from "@inertiajs/inertia";
import UserTable from "@/components/Table/UserTable";
import UserModal from "@/components/Modals/UserModal";

export default {
  props: ["pageData"],
  components: {
    AdminLayout,
    UserTable,
    UserModal
  },
  data() {
    return {};
  },
  created: function () {},
  watch: {},
  methods: {
    refresh(){      
       Inertia.visit("/admin/permission-management/user-setting?page=" + 1, {
        method: "get",
      });
    }
  },
};
</script>


<style scoped>
</style>
