<template>
  <image-item-modal @refresh="loadData()" :no="no" />

  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-center text-base font-medium text-gray-500 uppercase tracking-wider w-1/2"
                >
                  圖片
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  是否啟用
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  順序
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  建立時間
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="item in datas" v-bind:key="item.id">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-base object-center">
                    <img
                      class="object-contain h-48 w-full"
                      :src="item.image_src"
                      alt=""
                    />
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-base text-gray-500 text-center">                  
                    <span v-if="item.enable"><i class="fas fa-check"></i></span>
                    <span v-if="!item.enable"><i class="fas fa-times"></i></span>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-base font-medium text-gray-900">
                    {{ item.sort }}
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.created_at }}
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-base font-medium">
                  <div class="space-x-4">
                    <div class="inline-block">
                      <image-item-modal @refresh="loadData()" :id="item.id" :no="no" />
                    </div>
                    <div class="inline-block">
                      <a
                        href="javascript:void(0);"
                        v-on:click="deleteBanner(item)"
                        class="text-sm"
                        >刪除</a
                      >
                    </div>
                  </div>
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Inertia } from "@inertiajs/inertia";
import ImageItemModal from "@/components/Modals/ImageItemModal";
export default {
  props: ["no"],
  components: {
    ImageItemModal,
  },
  data() {
    return {
      items: [],
    };
  },
  created: function () {
    this.loadData();
  },
  computed: {
    datas() {
      return this.items?.map((b) => {
        b.created_at = moment(new Date(b.created_at)).format("YYYY-MM-DD "); //HH:mm:ss
        b.updated_at = moment(new Date(b.updated_at)).format("YYYY-MM-DD "); //HH:mm:ss
        return b;
      });
    },
  },
  watch: {},
  methods: {
    loadData() {
      axios.get(`/api/image_item/${this.no}/get-all`).then((x) => {
        this.items = x.data.items;
      });
    },
    deleteBanner(item) {
      common.confirmAlert("你確定要刪除嗎？").then((result) => {
        if (result.isConfirmed) {
          axios.delete("/api/image_item/" + item.id).then((x) => {
            common.successAlert("刪除成功!");
            this.loadData();
          });
        }
      });
    },
  },
};
</script>

<style scoped>
img {
  width: 100%;
  /* height: auto; */
  max-height: 300px;
  /* opacity: 0.3; */
  border: 1px solid #ddd;
  border-radius: 4px;
}
</style>
