<template>
  <invitee-modal :tinymceApiKey="tinymceApiKey" @refresh="refresh()" />
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 tracking-wider"
                >
                  First Name
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 tracking-wider"
                >
                  Last Name
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 tracking-wider"
                >
                  國家
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 tracking-wider"
                >
                  順序
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 tracking-wider"
                >
                  建立時間
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 tracking-wider"
                >
                  修改時間
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="item in pages" v-bind:key="item">
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.first_name }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.last_name }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.country }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.sort }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.created_at }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.updated_at }}
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-base font-medium">
                  <div class="space-x-4">
                    <div class="inline-block">
                      <invitee-modal
                        :tinymceApiKey="tinymceApiKey"
                        @refresh="refresh()"
                        :id="item.id"
                      />
                    </div>
                    <div class="inline-block">
                      <a
                        href="javascript:void(0);"
                        v-on:click="deleteItem(item.id)"
                        class="text-sm"
                        >刪除</a
                      >
                    </div>
                  </div>
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div
    class="px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
  >
    <nav class="block">
      <ul class="flex pl-0 rounded list-none flex-wrap">
        <li v-for="index in pageData.last_page" v-bind:key="index">
          <dynamic-link
            :href="`${thisPathRoute}${index}`"
            :active="
              $page.url == `${thisPathRoute}${index}` ||
              (index == 1 && $page.url == thisPathRouteNoQuery)
            "
            basicClass="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-green-500 bg-white text-green-500"
            activeClass="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-green-500 text-white bg-green-500"
          >
            <slot>{{ index }}</slot>
          </dynamic-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
import DynamicLink from "@/components/Link/DynamicLink";
import InviteeModal from "@/components/Modals/InviteeModal";
import DescriptionTooltip from "@/components/Tooltips/DescriptionTooltip";

export default {
  props: {
    pageData: {
      default: {
        data: [],
        last_page: 0,
      },
    },
    tinymceApiKey: {},
  },
  components: {
    DynamicLink,
    InviteeModal,
    DescriptionTooltip,
  },
  data() {
    return {
      thisPathRoute: `/admin/content-management/invitee-setting?page=`,
      thisPathRouteNoQuery: `/admin/content-management/invitee-setting`,
    };
  },
  created: function () {},
  computed: {
    pages() {
      return this.pageData.data.map((b) => {
        b.created_at = this.checkDate(b.created_at);
        b.updated_at = this.checkDate(b.updated_at);
        return b;
      });
    },
  },
  watch: {},
  methods: {
    checkDate(input) {
      return input ? moment(new Date(input)).format("YYYY-MM-DD") : null;
    },
    deleteItem(id) {
      common.confirmAlert("確定要刪除嗎？").then((result) => {
        if (result.isConfirmed) {
          axios.delete("/api/invitee/" + id).then((x) => {
            this.$swal.fire("系統訊息", "刪除成功!", "success");
            this.refresh();
          });
        }
      });
    },
    refresh() {
      Inertia.visit("/admin/content-management/invitee-setting", {
        method: "get",
      });
    },
  },
};
</script>

<style scoped></style>
