<template>
  <news-modal :tinymceApiKey="tinymceApiKey" @refresh="refresh()" :typeId="typeId" />
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  標題
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  日期
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  是否啟用
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  順序
                  <description-tooltip description="先以日期排序，再以(順序)作排序。" />
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  發佈時間
                  <description-tooltip description="發佈時間為開始顯示於前台的時間。" />
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  結束時間
                  <description-tooltip
                    description="到了結束時間此則消息將不會顯示至前台，如果為空值此則消息將永遠不會消失。"
                  />
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="item in pages" v-bind:key="item">
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.title }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.date }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    <span v-if="item.enable"><i class="fas fa-check"></i></span>
                    <span v-if="!item.enable"><i class="fas fa-times"></i></span>
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.sort }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.publiced_at }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.closed_at }}
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-base font-medium">
                  <div class="space-x-4">
                    <div class="inline-block">
                      <news-modal
                        :tinymceApiKey="tinymceApiKey"
                        @refresh="refresh()"
                        :typeId="typeId"
                        :id="item.id"
                      />
                    </div>
                    <div class="inline-block">
                      <a
                        href="javascript:void(0);"
                        v-on:click="deleteItem(item.id)"
                        class="text-sm"
                        >刪除</a
                      >
                    </div>
                  </div>
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div
    class="px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
  >
    <nav class="block">
      <ul class="flex pl-0 rounded list-none flex-wrap">
        <li v-for="index in pageData.last_page" v-bind:key="index">
          <dynamic-link
            :href="`${thisPathRoute}${index}`"
            :active="
              $page.url == `${thisPathRoute}${index}` ||
              (index == 1 && $page.url == thisPathRouteNoQuery)
            "
            basicClass="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-green-500 bg-white text-green-500"
            activeClass="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-green-500 text-white bg-green-500"
          >
            <slot>{{ index }}</slot>
          </dynamic-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import DynamicLink from "@/components/Link/DynamicLink";
import DescriptionTooltip from "@/components/Tooltips/DescriptionTooltip";
import NewsModal from "@/components/Modals/NewsModal";
import { Inertia } from "@inertiajs/inertia";

export default {
  props: {
    pageData: {
      default: {
        data: [],
        last_page: 0,
      },
    },
    typeId: {
      default: 0,
    },
    tinymceApiKey: {},
  },
  components: {
    DynamicLink,
    DescriptionTooltip,
    NewsModal,
  },
  data() {
    return {
      thisPathRoute: `/admin/content-management/news-setting/${this.typeId}?page=`,
      thisPathRouteNoQuery: `/admin/content-management/news-setting/${this.typeId}`,
    };
  },
  created: function () {},
  computed: {
    pages() {
      return this.pageData.data.map((b) => {
        b.date = this.checkDate(b.date);
        b.publiced_at = this.checkDate(b.publiced_at);
        b.closed_at = this.checkDate(b.closed_at); //HH:mm:ss
        b.created_at = this.checkDate(b.created_at);
        b.updated_at = this.checkDate(b.updated_at);
        return b;
      });
    },
  },
  watch: {},
  methods: {
    checkDate(input) {
      return input ? moment(new Date(input)).format("YYYY-MM-DD ") : null;
    },
    refresh() {
      Inertia.visit(`/admin/content-management/news-setting/${this.typeId}?page=` + 1, {
        method: "get",
      });
    },
    deleteItem(id) {
      common.confirmAlert("確定要刪除嗎？").then((result) => {
        if (result.isConfirmed) {
          axios.delete("/api/news/" + id).then((x) => {
            this.$swal.fire("系統訊息", "刪除成功!", "success");
            this.refresh();
          });
        }
      });
    },
  },
};
</script>

<style scoped></style>
