<template>
  <div
    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
    :class="[color === 'light' ? 'bg-white' : 'bg-green-900 text-white']"
  >
    <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
          <h3
            class="font-semibold text-base"
            :class="[color === 'light' ? 'text-blueGray-700' : 'text-white']"
          >
            角色
          </h3>
        </div>
      </div>
    </div>
    <div class="block w-full overflow-x-auto">
      <!-- Projects table -->
      <table class="items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            <th
              class="px-6 align-middle border border-solid py-3 text-base border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-green-800 text-green-300 border-green-700',
              ]"
            >
              名稱
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-base border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-green-800 text-green-300 border-green-700',
              ]"
            >
              是否為預設
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-base border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-green-800 text-green-300 border-green-700',
              ]"
            >
              建立時間
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-base border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-green-800 text-green-300 border-green-700',
              ]"
            >
              修改時間
            </th>

            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-green-800 text-green-300 border-green-700',
              ]"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in pages">
            <th
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4 text-left flex items-center"
            >
              <span
                class="font-bold"
                :class="[color === 'light' ? 'text-blueGray-600' : 'text-white']"
              >
                {{ item.name }}
              </span>
            </th>
            <td
              class="border-t-0  px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4"
            >
              <span
                class="font-bold"
                :class="[color === 'light' ? 'text-blueGray-600' : 'text-white']"
              >
                <span v-if="item.is_default"><i class="fas fa-check"></i></span>
                <span v-if="!item.is_default"><i class="fas fa-times"></i></span>
              </span>
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4"
            >
              <span
                class="font-bold"
                :class="[color === 'light' ? 'text-blueGray-600' : 'text-white']"
              >
                {{ item.created_at }}
              </span>
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-nowrap p-4"
            >
              <span
                class="font-bold"
                :class="[color === 'light' ? 'text-blueGray-600' : 'text-white']"
              >
                {{ item.updated_at }}
              </span>
            </td>
            <td class="inline-flex">
              <div class="space-x-4">
                <div class="inline-block">
                  <role-modal @refresh="refresh()" :id="item.id" />
                </div>
                <div class="inline-block">
                  <a
                    href="javascript:void(0);"
                    v-on:click="deleteRole(item.id)"
                    class="text-sm"
                    >刪除</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div
    class="px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
  >
    <nav class="block">
      <ul class="flex pl-0 rounded list-none flex-wrap">
        <li v-for="index in pageData.last_page" v-bind:key="index">
          <dynamic-link
            :href="`${thisPathRoute}${index}`"
            :active="
              $page.url == `${thisPathRoute}${index}` ||
              (index == 1 && $page.url == thisPathRouteNoQuery)
            "
            basicClass="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-green-500 bg-white text-green-500"
            activeClass="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-green-500 text-white bg-green-500"
          >
            <slot>{{ index }}</slot>
          </dynamic-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import DynamicLink from "@/components/Link/DynamicLink";
import * as moment from "moment";
import { Inertia } from "@inertiajs/inertia";
import RoleModal from "@/components/Modals/RoleModal";
export default {
  props: {
    color: {
      default: "light",
      validator: function (value) {
        return ["light", "dark"].indexOf(value) !== -1;
      },
    },
    pageData: {
      default: {
        data: [],
        last_page: 0,
      },
    },
  },
  computed: {
    pages() {
      return this.pageData.data.map((b) => {
        b.created_at = moment(new Date(b.created_at)).format("YYYY-MM-DD "); //HH:mm:ss
        b.updated_at = moment(new Date(b.updated_at)).format("YYYY-MM-DD "); //HH:mm:ss
        return b;
      });
    },
  },
  components: {
    DynamicLink,
    RoleModal,
  },
  data() {
    return {
      thisPathRoute: "/admin/permission-management/role-setting?page=",
      thisPathRouteNoQuery: "/admin/permission-management/role-setting",
    };
  },
  created: function () {},
  watch: {},
  methods: {
    deleteRole(id) {
      common.confirmAlert("你確定要刪除嗎？").then((result) => {
        if (result.isConfirmed) {
          axios.delete("/api/role/" + id).then((x) => {
            this.$swal.fire("系統訊息", "刪除成功!", "success");
            this.refresh();
          });
        }
      });
    },
    refresh() {
      Inertia.visit("/admin/permission-management/role-setting?page=" + 1, {
        method: "get",
      });
    },
  },
};
</script>

<style scoped></style>
