<template>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  帳號
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  姓名/信箱
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  角色
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider"
                >
                  建立時間
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="item in pages" v-bind:key="item">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img
                        class="h-10 w-10 rounded-full"
                        :src="item.profile_photo_url"
                        alt=""
                      />
                    </div>
                    <div class="ml-4">
                      <div class="text-base text-gray-900">{{ item.account }}</div>
                      <!-- <div class="text-base text-gray-500">Optimization</div> -->
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-base font-medium text-gray-900">{{ item.name }}</div>
                  <div class="text-base text-gray-500">{{ item.email }}</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                  <span v-for="role in item.roles" v-bind:key="role.id">{{ role.name }} &nbsp; </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-base leading-5 font-semibold rounded-full text-green-800"
                  >
                    {{ item.created_at }}
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-base font-medium">
                  <user-modal @refresh="refresh()" :id="item.id" />
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


    <div
    class="px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
  >
    <nav class="block">
      <ul class="flex pl-0 rounded list-none flex-wrap">
        <li v-for="index in pageData.last_page" v-bind:key="index">
          <dynamic-link
            :href="`${thisPathRoute}${index}`"
            :active="
              $page.url == `${thisPathRoute}${index}` ||
              (index == 1 && $page.url == thisPathRouteNoQuery)
            "
            basicClass="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-green-500 bg-white text-green-500"
            activeClass="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-green-500 text-white bg-green-500"
          >
            <slot>{{ index }}</slot>
          </dynamic-link>
        </li>
      </ul>
    </nav>
  </div>


</template>
<script>
import DynamicLink from "@/components/Link/DynamicLink";
import { Inertia } from "@inertiajs/inertia";
import UserModal from "@/components/Modals/UserModal";

export default {
  props: {
    pageData: {
      default: {
        data: [],
        last_page: 0,
      },
    },
    color:{
      default:'light'
    }
  },
  components: {
    DynamicLink,
    UserModal
  },
  data() {
    return {
      thisPathRoute: "/admin/permission-management/user-setting?page=",
      thisPathRouteNoQuery: "/admin/permission-management/user-setting",
    };
  },
  computed: {
    pages() {
      return this.pageData.data.map((b) => {
        b.created_at = moment(new Date(b.created_at)).format("YYYY-MM-DD "); //HH:mm:ss
        b.updated_at = moment(new Date(b.updated_at)).format("YYYY-MM-DD "); //HH:mm:ss
        return b;
      });
    },
  },
  created: function () {},
  watch: {},
  methods: {
    refresh() {
      Inertia.visit("/admin/permission-management/user-setting?page=" + 1, {
        method: "get",
      });
    },
  },
};
</script>

<style scoped></style>
