<template>
  <admin-layout>
    <button
      v-for="team in $page.props.user.all_teams"
      :key="team.id"

      type="button"
    >
      <form @submit.prevent="switchToTeam(team)">
        <jet-responsive-nav-link as="button">
          <div class="flex items-center">
            <svg
              v-if="team.id == $page.props.user.current_team_id"
              class="mr-2 h-5 w-5 text-green-400"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <div>{{ team.name }}</div>
          </div>
        </jet-responsive-nav-link>
      </form>
    </button>
  </admin-layout>
</template>
<script>
import AdminLayout from "@/Layouts/AdminLayout";
import JetApplicationMark from "@/Jetstream/ApplicationMark";
import JetBanner from "@/Jetstream/Banner";
import JetDropdown from "@/Jetstream/Dropdown";
import JetDropdownLink from "@/Jetstream/DropdownLink";
import JetNavLink from "@/Jetstream/NavLink";
import JetResponsiveNavLink from "@/Jetstream/ResponsiveNavLink";
export default {
  components: {
    AdminLayout,
    JetApplicationMark,
    JetBanner,
    JetDropdown,
    JetDropdownLink,
    JetNavLink,
    JetResponsiveNavLink,
  },
  data() {
    return {};
  },
  methods: {
    switchToTeam(team) {
      this.$inertia.put(
        route("current-team.update"),
        {
          team_id: team.id,
        },
        {
          preserveState: false,
        }
      );
    },
  },
};
</script>
