<template>
  <div>
    <button
      class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      v-on:click="openModal()"
      v-if="!id"
    >
      新增
    </button>

    <a href="javascript:void(0)" class="mx-2" v-if="id" v-on:click="openModal()">
      <i class="fas fa-edit"></i>
    </a>

    <div
      v-if="showModal"
      class="overflow-x-hidden text-left overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center  flex"
    >
      <div class="relative w-auto my-6 mx-auto max-w-xl">
        <!--content-->
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
        >
          <!--header-->
          <div
            class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
          >
            <h3 class="text-xl font-semibold">
              <span v-if="!id">建立</span>
              <span v-if="id">編輯</span>
            </h3>
            <button
              class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
              v-on:click="closeModal()"
            >
              <span
                class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
              >
                ×
              </span>
            </button>
          </div>
          <!--body-->
          <div class="relative p-6 flex-auto">
            <form class="w-full max-w-lg">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-1/2 px-3" v-if="!isDetail">
                  <label
                    class="block uppercase tracking-wide text-base font-bold mb-2"
                    for="grid-last-name"
                  >
                    標題
                  </label>
                  <input
                    class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text"
                    placeholder="標題"
                    v-model="form.title"
                  />
                </div>

                <div class="w-1/2 px-3 mb-6 md:mb-0">
                  <label
                    class="block uppercase tracking-wide text-base font-bold mb-2"
                    for="grid-first-name"
                  >
                    順序
                  </label>
                  <input
                    class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="number"
                    placeholder="順序"
                    v-model="form.sort"
                  />
                </div>

                <!-- upload image -->
                <div class="w-1/2 px-3 mb-3">
                  <image-upload-button
                    @selectImage="changeFile($event)"
                    :oldImageUrl="form.image_src"
                  ></image-upload-button>
                </div>

                <div class="w-1/2 px-3 mb-3" v-if="!isDetail">
                  <div
                    class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in"
                  >
                    <input
                      v-model="form.enable"
                      type="checkbox"
                      name="toggle"
                      id="toggle"
                      class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
                    />
                    <label
                      for="toggle"
                      class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"
                    ></label>
                  </div>
                  <label
                    for="toggle"
                    class="uppercase tracking-wide text-base font-bold mb-2"
                    >是否啟用</label
                  >
                </div>

                <!-- end -->

                <div class="w-full px-3" v-if="!isDetail">
                  <label
                    class="block uppercase tracking-wide text-base font-bold mb-2"
                    for="grid-last-name"
                  >
                    敘述
                  </label>
                  <tinymce-editor
                    :tinymceApiKey="tinymceApiKey"
                    :text="form.description"
                    height="300"
                    @changeHtml="form.description = $event"
                  ></tinymce-editor>
                </div>
              </div>
            </form>
          </div>
          <!--footer-->
          <div
            class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b"
          >
            <button
              class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="create()"
              v-if="!id"
            >
              建立
            </button>

            <button
              class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="update()"
              v-if="id"
            >
              更新
            </button>

            <button
              class="bg-red-500 text-white background-transparent font-bold uppercase px-6 py-3 text-sm rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="closeModal()"
            >
              關閉
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
  </div>
</template>

<script>
import ImageUploadButton from "@/components/Buttons/ImageUploadButton";
import TinymceEditor from "@/components/Editor/TinymceEditor";
export default {
  props: {
    id: {},
    tinymceApiKey: {},
    isDetail: {},
    albumId:{}
  },
  data() {
    return {
      showModal: false,
      form: {},
      formData: new FormData(),
      nowApi: !this.isDetail ? "/api/album" : "/api/album-item",
    };
  },
  components: {
    ImageUploadButton,
    TinymceEditor,
  },
  methods: {
    openModal() {
      this.form = {};
      this.formData = new FormData();
      this.showModal = true;

      if (this.id) {
        axios.get(this.nowApi + "/" + this.id).then((x) => {
          this.form = x.data;
        });
      }
    },
    closeModal() {
      this.form = {};
      this.showModal = false;
      this.formData = new FormData();
    },
    async create() {
      let file = await this.uploadFile();
      if (!file) {
        common.errorAlert("請選擇檔案!");
        return;
      }
      this.form.image_src = file.data.file_path;
      if(this.albumId){
        this.form.album_id = this.albumId
      }
      axios
        .post(this.nowApi, this.form)
        .then((x) => {
          this.closeModal();
          common.successAlert("建立成功!");
          this.$emit("refresh");
        })
        .catch((error) => {
          common.errorMessage(error);
        });
    },
    async update() {
      let file = await this.uploadFile();
      if (file) {
        this.form.image_src = file.data.file_path;
      } else if (this.form.image_src == "") {
        common.errorAlert("請選擇檔案!");
        return;
      }
      axios
        .put(this.nowApi + "/" + this.form.id, this.form)
        .then((x) => {
          this.closeModal();
          common.successAlert("修改成功!");
          this.$emit("refresh");
        })
        .catch((error) => {
          common.errorMessage(error);
        });
    },
    changeFile(event) {
      this.formData = new FormData();
      this.form.image_src = "";
      if (event) this.formData.append("image", event);
    },
    async uploadFile() {
      if (!this.formData.get("image")) {
        return false;
      }
      this.formData.append("folder", "album");
      return await axios.post("/api/file/upload-image", this.formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      });
    },
  },
};
</script>

<style scope>
.toggle-checkbox:checked {
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #68d391;
}
</style>
