<template>
  <span>
    <button
      class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      v-on:click="openModal()"
      v-if="!parentId"
    >
      新增
    </button>

    <button
      class="bg-green-500 mr-2 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-1"
      v-if="parentId"
      v-on:click="openModal()"
    >
      新增子節點
    </button>

    <div
      v-if="showModal"
      class="overflow-x-hidden text-left overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center flex"
    >
      <!-- relative w-full my-6 mx-auto max-w-6xl -->
      <div class="relative w-full my-6 mx-auto max-w-2xl">
        <!--content-->
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
        >
          <!--header-->
          <div
            class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
          >
            <h3 class="text-xl font-semibold">
              <span>建立</span>
            </h3>
            <button
              class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
              v-on:click="closeModal()"
            >
              <span
                class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
              >
                ×
              </span>
            </button>
          </div>
          <!--body-->
          <div class="relative p-6 flex-auto">
            <form class="w-full">
              <div class="flex flex-wrap -mx-3 mb-6">
                <!-- upload image -->
                <!-- <div class="w-full px-3 mb-3">
                    <image-upload-button
                      @selectImage="changeFile($event)"
                      :oldImageUrl="form.image_src"
                    ></image-upload-button>
                  </div> -->

                <!-- end -->

                <div class="w-full px-3">
                  <label class="block uppercase tracking-wide text-base font-bold mb-2">
                    名稱
                  </label>
                  <input
                    class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text"
                    placeholder="名稱"
                    v-model="form.display_name"
                  />
                </div>

                <div class="w-full px-3 mb-6 md:mb-0">
                  <label
                    class="block uppercase tracking-wide text-base font-bold mb-2"
                    for="grid-first-name"
                  >
                    順序
                  </label>
                  <!--  border border-red-500 -->
                  <input
                    class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="number"
                    placeholder="順序"
                    v-model="form.sort"
                  />
                  <!-- <p class="text-red-500 text-base italic">Please fill out this field.</p> -->
                </div>

                <div class="w-full px-3 mb-3">
                  <common-switch
                    :defaultValue="form.enable"
                    @changeValue="form.enable = $event"
                  />
                </div>

                <div class="w-full px-3 mb-3">
                  <common-switch
                    :defaultValue="form.open_another_page"
                    label="是否另開視窗"
                    @changeValue="form.open_another_page = $event"
                  />
                </div>

                <div class="w-full px-3 mb-5">
                  <span class="block tracking-wide text-base font-bold mb-2">
                    頁面類型</span
                  >
                  <div class="mt-2">
                    <label class="inline-flex items-center">
                      <input
                        type="radio"
                        class="form-radio"
                        v-model="form.type"
                        value="Intranet"
                      />
                      <span class="ml-2">內部連結</span>
                    </label>
                    <label class="inline-flex items-center ml-6">
                      <input
                        type="radio"
                        class="form-radio"
                        v-model="form.type"
                        value="Extranet"
                      />
                      <span class="ml-2">外部頁面</span>
                    </label>
                    <label class="inline-flex items-center ml-6">
                      <input
                        type="radio"
                        class="form-radio"
                        v-model="form.type"
                        value="Feature"
                      />
                      <span class="ml-2">功能頁面</span>
                    </label>
                  </div>
                </div>

                <div class="w-full px-3" v-if="form.type == 'Intranet'">
                  <label class="block tracking-wide text-base font-bold mb-2">
                    頁面內容
                  </label>
                  <tinymce-editor
                    :tinymceApiKey="tinymceApiKey"
                    :text="form.html"
                    @changeHtml="form.html = $event"
                  ></tinymce-editor>
                </div>

                <div class="w-full px-3" v-if="form.type == 'Extranet'">
                  <label class="block tracking-wide text-base font-bold mb-2">
                    連結
                  </label>
                  <input
                    class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text"
                    placeholder="連結"
                    v-model="form.href_url"
                  />
                </div>
                <div class="w-full px-3" v-if="form.type == 'Feature'">
                  <label class="block tracking-wide text-base font-bold mb-2">
                    功能
                  </label>
                  <common-select
                    :items="selectItems"
                    @changeSelect="changeSelect($event?.key)"
                  />
                </div>
              </div>
            </form>
          </div>
          <!--footer-->
          <div
            class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b"
          >
            <button
              class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="create()"
            >
              建立
            </button>

            <!-- <button
              class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-if="id"
            >
              修改
            </button> -->

            <button
              class="bg-red-500 text-white background-transparent font-bold uppercase px-6 py-3 text-sm rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="closeModal()"
            >
              關閉
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
  </span>
</template>

<script>
import ImageUploadButton from "@/components/Buttons/ImageUploadButton";
import CommonSwitch from "@/components/Switch/CommonSwitch";
import TinymceEditor from "@/components/Editor/TinymceEditor";
import CommonSelect from "@/components/Select/CommonSelect";

export default {
  props: {
    parentId: {},
    tinymceApiKey: {},
  },
  data() {
    return {
      showModal: false,
      form: {
        type: "Intranet",
      },
      selectFeatureRoute: "",
      selectItems: [
        {
          key: "/news-list",
          label: "最新消息",
        },
        {
          key: "/invitee",
          label: "受邀者",
        },
        {
          key: "/photo-list",
          label: "相簿",
        },
      ],
    };
  },
  components: {
    ImageUploadButton,
    CommonSwitch,
    TinymceEditor,
    CommonSelect,
  },
  methods: {
    resetForm() {
      this.form = {
        type: "Intranet",
      };
    },
    openModal() {
      this.showModal = true;
      this.resetForm();
    },
    closeModal() {
      this.showModal = false;
      this.resetForm();
    },
    create() {
      if (!this.form.href_url && this.form.type == "Extranet") {
        common.errorAlert("請填入網址！");
        return;
      }

      if (this.form.type == "Feature") {
        let paths = this.selectItems.map((x) => x.key);
        let check = paths.includes(this.selectFeatureRoute);
        if (!check) {
          common.errorAlert("請選擇功能！");
          return;
        }
        this.form.href_url = this.selectFeatureRoute;
      }

      if (this.parentId) this.form.parent_id = this.parentId;
      axios
        .post("/api/front-page", this.form)
        .then((x) => {
          this.closeModal();
          common.successAlert("建立成功!");
          this.$emit("refresh");
        })
        .catch((error) => {
          common.errorMessage(error);
        });
    },
    changeSelect(event) {
      if (event != undefined) this.selectFeatureRoute = event;
    },
  },
};
</script>

<style scope></style>
