<template>
  <div>
    <button
      v-if="!id"
      class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      v-on:click="openModal()"
    >
      新增
    </button>

    <a v-if="id" href="javascript:void(0);" v-on:click="openModal()" class="text-sm"
      >編輯</a
    >

    <div
      v-if="showModal"
      class="overflow-x-hidden text-left overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center flex"
    >
      <div class="relative w-auto my-6 mx-auto max-w-sm">
        <!--content-->
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
        >
          <!--header-->
          <div
            class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
          >
            <h4 class="text-xl font-semibold">
              <span v-if="id">編輯</span>
              <span v-if="!id">建立</span>

              <span v-if="no == 'banner'">輪播圖</span>
              <span v-if="no == 'sponsor'">Sponsor</span>
              <span v-if="no == 'organizer'">Organizers</span>
            </h4>
            <button
              class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
              v-on:click="closeModal()"
            >
              <span
                class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
              >
                ×
              </span>
            </button>
          </div>
          <!--body-->
          <div class="relative p-6 flex-auto">
            <form class="w-full max-w-lg">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3 mb-3">
                  <common-switch
                    :defaultValue="form.enable"
                    label="是否啟用"
                    @changeValue="form.enable = $event"
                  />
                </div>

                <!-- upload image -->
                <div class="w-full px-3 mb-3">
                  <image-upload-button
                    @selectImage="changeFile($event)"
                    :oldImageUrl="form.image_src"
                  ></image-upload-button>
                </div>

                <!-- end -->

                <div class="w-full px-3 mb-6 md:mb-0">
                  <label
                    class="block uppercase tracking-wide text-base font-bold mb-2"
                    for="grid-first-name"
                  >
                    順序
                  </label>
                  <!--  border border-red-500 -->
                  <input
                    class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="number"
                    placeholder="順序"
                    v-model="form.sort"
                  />
                  <!-- <p class="text-red-500 text-base italic">Please fill out this field.</p> -->
                </div>

                <div class="w-full px-3" v-if="no != 'banner'">
                  <label
                    class="block uppercase tracking-wide text-base font-bold mb-2"
                    for="grid-last-name"
                  >
                    連結
                  </label>
                  <input
                    class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text"
                    placeholder="連結"
                    v-model="form.href_url"
                  />
                </div>

                <div class="w-full px-3">
                  <label
                    class="block uppercase tracking-wide text-base font-bold mb-2"
                    for="grid-last-name"
                  >
                    敘述
                  </label>
                  <textarea
                    class="resize-y appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    placeholder="敘述"
                    v-model="form.description"
                  ></textarea>
                </div>
              </div>
            </form>
          </div>
          <!--footer-->
          <div
            class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b"
          >
            <button
              class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="create()"
              v-if="!id"
            >
              建立
            </button>

            <button
              class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-if="id"
              v-on:click="update()"
            >
              更新
            </button>

            <button
              class="bg-red-500 text-white background-transparent font-bold uppercase px-6 py-3 text-sm rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="closeModal()"
            >
              關閉
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
  </div>
</template>

<script>
import CommonSwitch from "@/components/Switch/CommonSwitch";
import ImageUploadButton from "@/components/Buttons/ImageUploadButton";
export default {
  props: ["id", "no"],
  components: { ImageUploadButton, CommonSwitch },
  data() {
    return {
      showModal: false,
      form: {},
      formData: new FormData(),
    };
  },
  methods: {
    closeModal() {
      this.form = {};
      this.showModal = false;
      this.formData = new FormData();
    },
    openModal() {
      this.form = {};
      this.formData = new FormData();
      this.showModal = true;

      if (this.id) {
        axios.get("/api/image_item/" + this.id).then((x) => {
          this.form = x.data;
        });
      }
    },
    changeFile(event) {
      this.formData = new FormData();
      this.form.image_src = "";
      if (event) this.formData.append("image", event);
    },
    async uploadFile() {
      if (!this.formData.get("image")) {
        return false;
      }
      this.formData.append("type", this.no);
      return await axios.post("/api/image_item/file", this.formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      });
    },
    async update() {
      let file = await this.uploadFile();
      if (file) {
        this.form.image_src = file.data.file_path;
      } else if (this.form.image_src == "") {
        common.errorAlert("請選擇檔案!");
        return;
      }
      axios
        .put("/api/image_item/" + this.form.id, this.form)
        .then((x) => {
          this.closeModal();
          common.successAlert("修改成功!");
          this.$emit("refresh");
        })
        .catch((error) => {
          common.errorMessage(error);
        });
    },
    async create() {
      let file = await this.uploadFile();
      if (!file) {
        common.errorAlert("請選擇檔案!");
        return;
      }
      this.form.image_src = file.data.file_path;
      this.form.type = this.no;
      axios
        .post("/api/image_item", this.form)
        .then((x) => {
          this.closeModal();
          common.successAlert("建立成功!");
          this.$emit("refresh");
        })
        .catch((error) => {
          common.errorMessage(error);
        });
    },
  },
};
</script>

