<template>
  <div>
    <button
      class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      v-on:click="openModal()"
      v-if="!id"
    >
      新增
    </button>

    <a href="javascript:void(0);" v-on:click="openModal()" v-if="id" class="text-sm">
      編輯
    </a>

    <!-- modal -->
    <div
      v-if="showModal"
      class="overflow-x-hidden text-left overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center flex"
    >
      <div class="relative w-full my-6 mx-auto max-w-6xl">
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
        >
          <div
            class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
          >
            <h3 class="text-xl font-semibold">
              <span v-if="!id">建立</span>
              <span v-if="id">編輯</span>
            </h3>
            <button
              class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
              v-on:click="closeModal()"
            >
              <span
                class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
              >
                ×
              </span>
            </button>
          </div>
          <!--body-->
          <div class="relative p-6 flex-auto">
            <div class="w-full">
              <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                <li
                  class="-mb-px mr-2 last:mr-0 flex-auto text-center border-2 cursor-pointer"
                  v-for="(tab, index) in tabs"
                >
                  <a
                    class="text-base font-bold px-5 py-3 shadow-lg rounded block leading-normal"
                    v-on:click="toggleTabs(index + 1)"
                    v-bind:class="{
                      'text-green-600 bg-white': openTab !== index + 1,
                      'text-white bg-green-600': openTab === index + 1,
                    }"
                  >
                    {{ tab }}
                  </a>
                </li>
              </ul>
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
              >
                <div class="px-4 py-5 flex-auto">
                  <div class="tab-content tab-space">
                    <div v-bind:class="{ hidden: openTab !== 1, block: openTab === 1 }">
                      <form class="w-full">
                        <div class="flex flex-wrap -mx-3 mb-6">
                          <div class="w-1/3 px-3 mb-3">
                            <image-upload-button
                              @selectImage="changeFile($event)"
                              :oldImageUrl="form.image_src"
                            ></image-upload-button>
                          </div>
                          <div class="w-2/3 px-3 mb-3"></div>

                          <div class="w-1/2 px-3 mb-3">
                            <label class="block tracking-wide text-base font-bold mb-2">
                              First Name
                            </label>

                            <input
                              class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                              type="text"
                              placeholder="First Name"
                              v-model="form.first_name"
                            />
                          </div>

                          <div class="w-1/2 px-3 mb-3">
                            <label class="block tracking-wide text-base font-bold mb-2">
                              Last Name
                            </label>

                            <input
                              class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                              type="text"
                              placeholder="Last Name"
                              v-model="form.last_name"
                            />
                          </div>

                          <div class="w-1/2 px-3 mb-3">
                            <label class="block tracking-wide text-base font-bold mb-2">
                              順序
                            </label>

                            <input
                              class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                              type="number"
                              placeholder="順序"
                              v-model="form.sort"
                            />
                          </div>

                          <div class="w-1/2 px-3 mb-3" v-if="countries.length > 0">
                            <label class="block tracking-wide text-base font-bold mb-2">
                              國家
                            </label>
                            <common-select
                              @changeSelect="form.country = $event.key"
                              :items="countries"
                              :defaultSelected="form.country"
                            />
                          </div>
                        </div>
                      </form>
                    </div>
                    <div v-bind:class="{ hidden: openTab !== 2, block: openTab === 2 }">
                      <tinymce-editor
                        :tinymceApiKey="tinymceApiKey"
                        :text="form.program"
                        height="300"
                        @changeHtml="form.program = $event"
                      ></tinymce-editor>
                    </div>
                    <div v-bind:class="{ hidden: openTab !== 3, block: openTab === 3 }">
                      <tinymce-editor
                        :tinymceApiKey="tinymceApiKey"
                        :text="form.position"
                        height="300"
                        @changeHtml="form.position = $event"
                      ></tinymce-editor>
                    </div>

                    <div v-bind:class="{ hidden: openTab !== 4, block: openTab === 4 }">
                      <tinymce-editor
                        :tinymceApiKey="tinymceApiKey"
                        :text="form.organization"
                        height="300"
                        @changeHtml="form.organization = $event"
                      ></tinymce-editor>
                    </div>

                    <div v-bind:class="{ hidden: openTab !== 5, block: openTab === 5 }">
                      <tinymce-editor
                        :tinymceApiKey="tinymceApiKey"
                        :text="form.major_field"
                        height="300"
                        @changeHtml="form.major_field = $event"
                      ></tinymce-editor>
                    </div>

                    <div v-bind:class="{ hidden: openTab !== 6, block: openTab === 6 }">
                      <tinymce-editor
                        :tinymceApiKey="tinymceApiKey"
                        :text="form.education"
                        height="300"
                        @changeHtml="form.education = $event"
                      ></tinymce-editor>
                    </div>

                    <div v-bind:class="{ hidden: openTab !== 7, block: openTab === 7 }">
                      <tinymce-editor
                        :tinymceApiKey="tinymceApiKey"
                        :text="form.professional_experience"
                        height="300"
                        @changeHtml="form.professional_experience = $event"
                      ></tinymce-editor>
                    </div>

                    <div v-bind:class="{ hidden: openTab !== 8, block: openTab === 8 }">
                      <tinymce-editor
                        :tinymceApiKey="tinymceApiKey"
                        :text="form.honors_awards"
                        height="300"
                        @changeHtml="form.honors_awards = $event"
                      ></tinymce-editor>
                    </div>
                    <div v-bind:class="{ hidden: openTab !== 9, block: openTab === 9 }">
                      <tinymce-editor
                        :tinymceApiKey="tinymceApiKey"
                        :text="form.publication"
                        height="300"
                        @changeHtml="form.publication = $event"
                      ></tinymce-editor>
                    </div>
                    <div v-bind:class="{ hidden: openTab !== 10, block: openTab === 10 }">
                      <tinymce-editor
                        :tinymceApiKey="tinymceApiKey"
                        :text="form.short_bio"
                        height="300"
                        @changeHtml="form.short_bio = $event"
                      ></tinymce-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--footer-->
          <div
            class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b"
          >
            <button
              class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="create()"
            >
              建立
            </button>

            <button
              class="bg-red-500 text-white background-transparent font-bold uppercase px-6 py-3 text-sm rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="closeModal()"
            >
              關閉
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
  </div>
</template>

<script>
import TinymceEditor from "@/components/Editor/TinymceEditor";
import CommonSelect from "@/components/Select/CommonSelect";
import ImageUploadButton from "@/components/Buttons/ImageUploadButton";
export default {
  props: {
    id: {},
    tinymceApiKey: {},
  },
  data() {
    return {
      showModal: false,
      form: {
        country: "Afghanistan",
      },
      formData: new FormData(),
      openTab: 1,
      countries: [],
      tabs: [
        "基本資料",
        "Program",
        "Position",
        "organization",
        "major_field",
        "education",
        "professional_experience",
        "honors_awards",
        "publication",
        "short_bio",
      ],
    };
  },
  components: {
    TinymceEditor,
    ImageUploadButton,
    CommonSelect,
  },
  methods: {
    changeFile(event) {
      this.formData = new FormData();
      this.form.image_src = "";
      if (event) this.formData.append("image", event);
    },
    resetForm() {
      this.form = {
        country: "Afghanistan",
      };
    },
    openModal() {
      this.openTab = 1;
      this.setCountrySelect();
      this.showModal = true;
      if (this.id) {
        axios.get("/api/invitee/" + this.id).then((x) => {
          this.form = x.data;
        });
      }
    },
    setCountrySelect() {
      axios.get("/assets/data/country.json").then((response) => {
        this.countries = response.data.map((x) => {
          return {
            key: x.fullName,
            label: x.fullName,
          };
        });
      });
    },
    closeModal() {
      this.showModal = false;
      this.formData = new FormData();
      this.resetForm();
    },
    async uploadFile() {
      if (!this.formData.get("image")) {
        return false;
      }
      this.formData.append("folder", "invitee");
      return await axios.post("/api/file/upload-image", this.formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      });
    },
    async create() {
      let file = await this.uploadFile();
      if (!file) {
        common.errorAlert("請選擇檔案!");
        return;
      }
      this.form.image_src = file.data.file_path;
      axios
        .post("/api/invitee", this.form)
        .then((x) => {
          this.closeModal();
          common.successAlert("建立成功!");
          this.$emit("refresh");
        })
        .catch((error) => {
          common.errorMessage(error);
        });
    },
    async update() {
      let file = await this.uploadFile();
      if (file) {
        this.form.image_src = file.data.file_path;
      } else if (this.form.image_src == "") {
        common.errorAlert("請選擇檔案!");
        return;
      }
      axios
        .put("/api/invitee/" + this.form.id, this.form)
        .then((x) => {
          this.closeModal();
          common.successAlert("修改成功!");
          this.$emit("refresh");
        })
        .catch((error) => {
          common.errorMessage(error);
        });
    },
    toggleTabs: function (tabNumber) {
      this.openTab = tabNumber;
    },
  },
};
</script>
