<template>
  <div>
    <button
      class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      v-on:click="openModal()"
      v-if="!id"
    >
      新增
    </button>

    <a href="javascript:void(0);" v-on:click="openModal()" v-if="id" class="text-sm">
      編輯
    </a>

    <!-- modal -->
    <div
      v-if="showModal"
      class="overflow-x-hidden text-left overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center flex"
    >
      <div class="relative w-full my-6 mx-auto max-w-6xl">
        <!--content-->
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
        >
          <!--header-->
          <div
            class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
          >
            <h3 class="text-xl font-semibold">
              <span v-if="!id">建立消息</span>
              <span v-if="id">編輯消息</span>
            </h3>
            <button
              class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
              v-on:click="closeModal()"
            >
              <span
                class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
              >
                ×
              </span>
            </button>
          </div>
          <!--body-->
          <div class="relative p-6 flex-auto">
            <!-- max-w-lg  -->
            <form class="w-full">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-1/3 px-3 mb-3">
                  <label class="block tracking-wide text-base font-bold mb-2">
                    標題
                  </label>

                  <input
                    class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text"
                    placeholder="標題"
                    v-model="form.title"
                  />
                </div>

                <div class="w-1/3 px-3 mb-3">
                  <label class="block tracking-wide text-base font-bold mb-2">
                    順序
                  </label>

                  <input
                    class="appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="number"
                    placeholder="順序"
                    v-model="form.sort"
                  />
                </div>

                <div class="w-1/3 px-3 mb-5">
                  <div
                    class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in"
                  >
                    <input
                      v-model="form.enable"
                      type="checkbox"
                      name="toggle"
                      id="toggle"
                      class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
                    />
                    <label
                      for="toggle"
                      class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"
                    ></label>
                  </div>
                  <label
                    for="toggle"
                    class="uppercase tracking-wide text-base font-bold mb-2"
                    >是否啟用</label
                  >
                </div>

                <div class="w-1/3 px-3 mb-3" v-if="( !id || id && form.id)">
                  <label class="block tracking-wide text-base font-bold mb-2">
                    日期
                  </label>
                  <litepie-datepicker
                    @change="form.date = $event"
                    :defaultValue="form.date"
                  />
                </div>

                <div class="w-1/3 px-3 mb-3"  v-if="( !id || id && form.id)">
                  <label class="block tracking-wide text-base font-bold mb-2">
                    發佈時間
                  </label>
                  <litepie-datepicker
                    @change="form.publiced_at = $event"
                    :defaultValue="form.publiced_at"
                  />
                </div>

                <div class="w-1/3 px-3 mb-3"  v-if="( !id || id && form.id)">
                  <label class="block tracking-wide text-base font-bold mb-2">
                    結束時間
                  </label>
                  <litepie-datepicker
                    @change="form.closed_at = $event"
                    :defaultValue="form.closed_at"
                  />
                </div>

                <div class="w-full px-3 mb-3">
                  <label class="block tracking-wide text-base font-bold mb-2">
                    內容
                  </label>
                  <tinymce-editor
                    :tinymceApiKey="tinymceApiKey"
                    height="300"
                    :text="form.content"
                    @changeHtml="form.content = $event"
                  ></tinymce-editor>
                </div>
              </div>
            </form>
          </div>
          <!--footer-->
          <div
            class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b"
          >
            <button
              class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="create()"
              v-if="!id"
            >
              建立
            </button>

            <button
              class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-if="id"
              v-on:click="update()"
            >
              更新
            </button>

            <button
              class="bg-red-500 text-white background-transparent font-bold uppercase px-6 py-3 text-sm rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="closeModal()"
            >
              關閉
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
  </div>
</template>

<script>
import TinymceEditor from "@/components/Editor/TinymceEditor";
import LitepieDatepicker from "@/components/Datepicker/LitepieDatepicker";
export default {
  props: {
    id: {},
    tinymceApiKey: {},
    typeId: {},
  },
  components: {
    TinymceEditor,
    LitepieDatepicker,
  },
  data() {
    return {
      date: moment(new Date()).format("YYYY-MM-DD"),
      showModal: false,
      form: {},
    };
  },
  methods: {
    resetForm() {
      this.form = {
        date: this.date,
        publiced_at: this.date,
      };
    },
    openModal() {
      this.showModal = true;

      if (this.id) {
        axios.get("/api/news/" + this.id).then((x) => {
          this.form = x.data;
        });
      } else this.resetForm();
    },
    closeModal() {
      this.showModal = false;
      this.resetForm();
    },
    create() {
      this.form.news_type_id = this.typeId;
      axios
        .post("/api/news", this.form)
        .then((x) => {
          this.closeModal();
          this.$emit("refresh");
          common.successAlert("建立成功!");
        })
        .catch((error) => {
          common.errorMessage(error);
        });
    },
    update() {
      this.form.news_type_id = this.typeId;
      axios
        .put("/api/news/" + this.id, this.form)
        .then((x) => {
          this.closeModal();
          this.$emit("refresh");
          common.successAlert("修改成功!");
        })
        .catch((error) => {
          common.errorMessage(error);
        });
    },
  },
};
</script>

<style scope>
.toggle-checkbox:checked {
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #68d391;
}
</style>
