<template>
  <div>
    <sidebar />
    <div class="relative md:ml-64">
      <div class="relative bg-green-500 md:pt-12 pb-10 pt-12">
        <admin-navbar :title="title"> </admin-navbar>
      </div>

      <!-- <header-stats /> -->
      <div class="px-4 bg-gray-100 md:px-10 mx-auto w-full -m-24 mt-1 min-h-screen">
        <div class="container mx-auto">
          <main>
            <slot></slot>
          </main>
        </div>
        <footer-admin />
      </div>
    </div>
  </div>
</template>
<script>
import AdminNavbar from "@/components/Navbars/AdminNavbar.vue";
import Sidebar from "@/components/Sidebar/Sidebar.vue";
import HeaderStats from "@/components/Headers/HeaderStats.vue";
import FooterAdmin from "@/components/Footers/FooterAdmin.vue";
export default {
  name: "admin-layout",
  components: {
    AdminNavbar,
    Sidebar,
    HeaderStats,
    FooterAdmin,
  },
  data() {
    return {
      title: "",
    };
  },
  watch: {
    // title: {
    //   handler: function (val) {
    //     console.log("changed");
    //   },
    //   deep: true,
    // },
  },
  methods: {
    chageTitle(val) {
      var vm = this;
      vm.title = val;
    },
  },
};
</script>
