<template>
  <nav
    class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
  >
    <div
      class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
    >
      <!-- Toggler -->
      <button
        class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
        type="button"
        v-on:click="toggleCollapseShow('bg-white m-2 py-3 px-6')"
      >
        <i class="fas fa-bars"></i>
      </button>
      <!-- Brand -->

      <!-- User -->
      <ul class="md:hidden items-center flex flex-wrap list-none">
        <li class="inline-block relative">
          <notification-dropdown />
        </li>
        <li class="inline-block relative">
          <user-dropdown />
        </li>
      </ul>
      <!-- Collapse -->
      <div
        class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
        v-bind:class="collapseShow"
      >
        <!-- Collapse header -->
        <div
          class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
        >
          <div class="flex flex-wrap">
            <div class="w-6/12">
              <!-- <router-link
                class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
                to="/"
              >
                Vue Notus
              </router-link> -->
            </div>
            <div class="w-6/12 flex justify-end">
              <button
                type="button"
                class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                v-on:click="toggleCollapseShow('hidden')"
              >
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>

        後台管理系統
        <!-- Form -->
        <form class="mt-6 mb-4 md:hidden">
          <div class="mb-3 pt-0">
            <input
              type="text"
              placeholder="Search"
              class="border-0 px-3 py-2 h-12 border border-solid border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal"
            />
          </div>
        </form>

        <ul class="md:flex-col md:min-w-full flex flex-col list-none">
          <li class="items-center"></li>

          <li class="items-center"></li>

          <li class="items-center"></li>

          <li class="items-center"></li>
        </ul>

        <!-- Divider -->
        <hr class="my-4 md:min-w-full" />

        <span v-for="item in items" v-bind:key="item">
          <h6
            v-if="item.children.filter(x=>x.check).length > 0"
            class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
          >
            {{ item.title }}
          </h6>

          <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
          v-if="item.children.filter(x=>x.check).length > 0">
            <li class="items-center" v-for="child in item.children" v-bind:key="child">
              <jet-responsive-nav-link
                v-if="child.check"
                :href="route(child.route, child.param)"
                :active="route().current(child.route, child.param)"
              >
                <i v-bind:class="child.icon"></i>
                {{ child.title }}
              </jet-responsive-nav-link>
            </li>
          </ul>

          <hr class="my-4 md:min-w-full"  v-if="item.children.filter(x=>x.check).length > 0"/>
        </span>
        <!-- Heading -->
      </div>
    </div>
  </nav>
</template>
); }

<script>
import NotificationDropdown from "@/components/Dropdowns/NotificationDropdown.vue";
import UserDropdown from "@/components/Dropdowns/UserDropdown.vue";
import JetResponsiveNavLink from "@/Jetstream/ResponsiveNavLink";
import * as _ from "lodash";
import IndexNavbar from "@/components/Navbars/IndexNavbar.vue";

import { Inertia } from "@inertiajs/inertia";
import { onUnmounted } from "vue";

export default {
  //   watch: {
  //     $page: function (value) {
  //       let flattenData = _.flatten(this.items.map((x) => x.children));
  //       let data = flattenData.find(
  //         (x) =>
  //           x.route ==
  //           "admin." + value.component.replace(/\//g, ".").toLowerCase()
  //       );
  //       this.$emit("getTitle", data.title);
  //     },
  //   },
  components: {
    NotificationDropdown,
    UserDropdown,
    JetResponsiveNavLink,
  },

  data() {
    return {
      collapseShow: "hidden",
      items: [
        {
          title: "一般設定",
          children: [
            {
              route: "dashboard",
              title: "首頁",
              icon: "fas fa-tachometer-alt text-blueGray-300 mr-2 text-sm",
              check: true,
            }
          ],
        },
        {
          title: "個人設定",
          children: [
            {
              route: "profile.show",
              title: "個人資料",
              icon: "fas fa-user text-blueGray-300 mr-2 text-sm",
              check: true,
            },
            {
              route: "api-tokens.index",
              title: "個人Api管理",
              icon: "fas fa-key text-blueGray-300 mr-2 text-sm",
              check: this.$page.props.jetstream.hasApiFeatures,
            },
            {
              route: "admin.teams.teamSelect",
              title: "選擇組織",
              icon: "fas fa-user-friends text-blueGray-300 mr-2 text-sm",
              check: this.$page.props.jetstream.hasTeamFeatures,
            },
            {
              route: "teams.show",
              param: this.$page.props.user.current_team,
              title: "組織管理",
              icon: "fas fa-user-friends text-blueGray-300 mr-2 text-sm",
              check: this.$page.props.jetstream.hasTeamFeatures,
            },
            {
              route: "teams.create",
              title: "新增組織",
              icon: "fas fa-plus-circle text-blueGray-300 mr-2 text-sm",
              check: this.$page.props.jetstream.hasTeamFeatures,
            },
          ],
        },
        {
          title: "權限管理",
          children: [
            {
              route: "admin.permission-management.roleSetting",
              title: "角色設定",
              icon: "fas fa-user-lock text-blueGray-300 mr-2 text-sm",
              check:  this.$page.props.permission.includes('Page.PermissionManagement.RoleSetting'),
            },
            {
              route: "admin.permission-management.userSetting",
              title: "會員設定",
              icon: "fas fa-users text-blueGray-300 mr-2 text-sm",
              check:  this.$page.props.permission.includes('Page.PermissionManagement.UserSetting'),
            },
          ],
        },
        {
          title: "文檔系統",
          children: [
            {
              route: "admin.doc.example",
              title: "範例頁",
              icon: "fas fa-pager text-blueGray-300 mr-2 text-sm",
              check:this.$page.props.permission.includes('Page.Doc'),
            },
            {
              route: "admin.doc.blank",
              title: "空白頁",
              icon: "fas fa-sticky-note text-blueGray-300 mr-2 text-sm",
              check:this.$page.props.permission.includes('Page.Doc'),
            },
            {
              route: "admin.doc.index",
              title: "文檔",
              icon: "fas fa-book text-blueGray-300 mr-2 text-sm",
              check:this.$page.props.permission.includes('Page.Doc'),
            },
            {
              route: "admin.doc.test1",
              title: "測試頁一",
              icon: "fas fa-newspaper text-blueGray-300 mr-2 text-sm",
              check:this.$page.props.permission.includes('Page.Doc'),
            },
            {
              route: "admin.doc.test2",
              title: "測試頁二",
              icon: "fas fa-newspaper text-blueGray-300 mr-2 text-sm",
             check:this.$page.props.permission.includes('Page.Doc'),
            },
            {
              route: "admin.doc.test3",
              title: "測試頁3",
              icon: "fas fa-newspaper text-blueGray-300 mr-2 text-sm",
             check:this.$page.props.permission.includes('Page.Doc'),
            },
          ],
        },
      ],
    };
  },
  methods: {
    toggleCollapseShow: function (classes) {
      this.collapseShow = classes;
    },
  },
};
</script>
