<template>
  <div class="container mx-auto px-4 h-full" style="margin-top: 100px">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-200 border-0"
        >
          <div class="rounded-t mb-0 px-6 py-6">
            <!-- <div class="text-center mb-3">
              <h6 class="text-blueGray-500 text-sm font-bold">選擇登入項目</h6>
            </div> -->
            <div class="btn-wrapper text-center">
              <img src="/frontend/images/logo.png" alt="" />

              <button
                style="min-width: 121px"
                v-if="$page.props.canFacebookLogin"
                class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-2 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
                type="button"
              >
                <img alt="..." class="w-5 mr-1" :src="facebook" />
                facebook
              </button>
              <button
                style="min-width: 121px"
                v-if="$page.props.canGoogleLogin"
                class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
                type="button"
              >
                <img alt="..." class="w-5 mr-1" :src="google" />
                Google
              </button>
              <button
                style="min-width: 121px"
                v-if="$page.props.canLineLogin"
                class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
                type="button"
              >
                <img alt="..." class="w-5 mr-1" :src="line" />
                Line
              </button>
            </div>
            <hr class="mt-6 border-b-1 border-blueGray-300" />
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <div class="text-blueGray-400 text-center mb-3 font-bold">
              <small>網站登入</small>
            </div>

            <jet-validation-errors class="mb-4" />
            <form @submit.prevent="submit">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  帳號
                  <!-- 信箱 -->
                </label>
                <input
                  type="account"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Account"
                  id="account"
                  v-model="form.account"
                  required
                  autofocus
                />
              </div>

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  密碼
                </label>
                <input
                  type="password"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Password"
                  id="password"
                  v-model="form.password"
                  required
                  autocomplete="current-password"
                />
              </div>
              <div>
                <label class="flex items-center">
                  <jet-checkbox name="remember" v-model:checked="form.remember" />
                  <span class="ml-2 text-sm text-gray-600">記住</span>
                </label>
              </div>

              <div class="text-center mt-6">
                <jet-button
                  class="ml-4"
                  :class="{ 'opacity-25': form.processing }"
                  :disabled="form.processing"
                >
                  登入
                </jet-button>
              </div>
            </form>
          </div>
        </div>
        <div class="flex flex-wrap mt-6 relative">
          <div class="w-1/2">
            <inertia-link
              v-if="canResetPassword"
              :href="route('password.request')"
              class="underline text-sm text-gray-600 hover:text-gray-900"
            >
              忘記密碼
            </inertia-link>
          </div>
          <div class="w-1/2 text-right">
            <inertia-link
              v-if="canRegister"
              :href="route('register')"
              class="ml-4 text-sm text-gray-700 underline"
            >
              註冊
            </inertia-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import JetAuthenticationCard from "@/Jetstream/AuthenticationCard";
import JetAuthenticationCardLogo from "@/Jetstream/AuthenticationCardLogo";
import JetButton from "@/Jetstream/Button";
import JetInput from "@/Jetstream/Input";
import JetCheckbox from "@/Jetstream/Checkbox";
import JetLabel from "@/Jetstream/Label";
import JetValidationErrors from "@/Jetstream/ValidationErrors";
import github from "/assets/img/github.svg";
import google from "/assets/img/google.svg";
import facebook from "/assets/img/facebook.svg";
import line from "/assets/img/line.svg";
export default {
  components: {
    JetAuthenticationCard,
    JetAuthenticationCardLogo,
    JetButton,
    JetInput,
    JetCheckbox,
    JetLabel,
    JetValidationErrors,
  },

  props: {
    canResetPassword: Boolean,
    // canRegister:Boolean,
    status: String,
  },

  data() {
    return {
      form: this.$inertia.form({
        account: "",
        password: "",
        remember: false,
      }),
      github,
      google,
      facebook,
      line,
      canRegister: false,
    };
  },

  methods: {
    submit() {
      this.form
        .transform((data) => ({
          ...data,
          remember: this.form.remember ? "on" : "",
        }))
        .post(this.route("login"), {
          onFinish: () => this.form.reset("password"),
        });
    },
  },
};
</script>
